In [1]:
import os
import sys
import pandas as pd
import numpy as np
from numpy import diff
import matplotlib.pyplot as plt
import re

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.options.mode.chained_assignment = None #отключить варнинги на изменение оригинального датафрейма

In [2]:
source_dir = 'C:/Users/Barca/Desktop/GitHub/IPO_Analysis/cb_2022/'

In [3]:
rounds = pd.read_csv(source_dir + 'solved_rounds.csv')
rounds.head(3)

,Unnamed: 0,Organization Name,Announced Date,Money Raised,Pre-Money Valuation,Total Funding Amount,Lead Investors,Funding Type,Organization Industries,Number of Funding Rounds,Number of Investors,Number of Partner Investors,Org_Code,Round_Code,exit_date,exit_type,Valuation,Raised Money,Funding Amount
0,1,&pizza,2014-09-01,1900000.0,NaN,79200000.0,NaN,Seed,"Food and Beverage,Food Delivery,Food Processing,Snack Food",9,NaN,NaN,/organization/pizza-4,/funding_round/pizza-4-seed--5f65c774,NaN,NaN,NaN,NaN,NaN
1,2,&pizza,2014-12-01,10000000.0,NaN,79200000.0,NaN,Funding Round,"Food and Beverage,Food Delivery,Food Processing,Snack Food",9,1.0,NaN,/organization/pizza-4,/funding_round/pizza-4-undisclosed--d9bc03f1,NaN,NaN,NaN,NaN,NaN
2,3,&pizza,2015-02-18,10000000.0,NaN,79200000.0,NaN,Venture - Series Unknown,"Food and Beverage,Food Delivery,Food Processing,Snack Food",9,NaN,NaN,/organization/pizza-4,/funding_round/pizza-4-series-unknown--3bdd84b3,NaN,NaN,NaN,NaN,NaN

### Категории

In [4]:
category_list = rounds[['Organization Industries']]
category_list = category_list.loc[~category_list['Organization Industries'].isin([np.nan])]
category_list.groupby(['Organization Industries']).size().reset_index(name='count')

,Organization Industries,count
0,"3D Printing,3D Technology",2
1,"3D Printing,3D Technology,Artificial Intelligence,Biotechnology,Medical Device",3
2,"3D Printing,3D Technology,CAD,Mechanical Engineering,Software",2
3,"3D Printing,3D Technology,Consumer Electronics,Hardware,Manufacturing",6
4,"3D Printing,3D Technology,Consumer Electronics,Robotics,Software",3
...,...,...
14522,"iOS,Mobile,Real Time,Software",3
14523,"iOS,Mobile,Software",3
14524,"iOS,Software",3
14525,"iOS,macOS,Mobile Devices,Software",2
14526,"mHealth,Pet,Subscription Service,Veterinary",5

### Теперь с запятыми

In [5]:
# category_list = rounds[['Organization Industries']]
# category_list = category_list.loc[~category_list['Organization Industries'].isin([np.nan])]
# words = {}
# for i in range(len(category_list)):
#     string = category_list.iloc[i, :]['Organization Industries'].split(',')
#     for word in string:
#         if word not in words:
#             words[word] = 1
#         else:
#             words[word] += 1
        
# category_list = pd.DataFrame.from_dict(words, orient='index')
# category_list.to_csv('category_list.csv', index=True, encoding = 'utf-8-sig')
# category_list

### Таблица попарных встечаний тегов

In [6]:
categories = pd.read_csv('Industry categories 2.csv')
#categories = categories.drop(['ID'], axis=1)
categories = categories.loc[categories['Category'] != '-']
categories['Name'] = categories['Name'].str.lstrip()
categories

      ID                    Name  Category
0      1                Software  Software
1      2             Health Care    Health
2      3           Biotechnology   Biotech
3      4  Information Technology  Software
4      5     Enterprise Software  Software
..   ...                     ...       ...
703  704                 Sailing     EComm
704  705                     SNS  Software
705  706       Social Assistance    Health
706  707             Sponsorship   AdMedia
707  708                 Surfing     EComm

[707 rows x 3 columns]

In [7]:
categories.groupby(['Category']).size().reset_index(name = 'count')

   Category  count
0   AdMedia    118
1   Biotech     10
2     EComm    162
3   FinTech     48
4    Health     36
5     Infra     37
6  Physical     90
7  Software    206

1 = Software (112735  206)  
2 = EComm (30089  162)  
3 = AdMedia (21046  118)  
4 = Physical (23657  90)  
5 = FinTech (18129  48)  
6 = Infra (15860  37)  
7 = Health (32407  36)  
8 = Biotech (20811  10)

In [8]:
categories.loc[categories['Category'] == 'Software', 'tag'] = 1
categories.loc[categories['Category'] == 'EComm', 'tag'] = 2
categories.loc[categories['Category'] == 'AdMedia', 'tag'] = 3
categories.loc[categories['Category'] == 'Physical', 'tag'] = 4
categories.loc[categories['Category'] == 'FinTech', 'tag'] = 5
categories.loc[categories['Category'] == 'Infra', 'tag'] = 6
categories.loc[categories['Category'] == 'Health', 'tag'] = 7
categories.loc[categories['Category'] == 'Biotech', 'tag'] = 8
categories['tag'] = categories['tag'].astype(int)

aaa = dict(zip(categories['Name'],categories['tag']))
aaa

{'Software': 1,
 'Health Care': 7,
 'Biotechnology': 8,
 'Information Technology': 1,
 'Enterprise Software': 1,
 'SaaS': 1,
 'Medical': 7,
 'Internet': 1,
 'Analytics': 1,
 'Manufacturing': 4,
 'Artificial Intelligence': 1,
 'E-Commerce': 2,
 'Mobile': 1,
 'Medical Device': 7,
 'Financial Services': 5,
 'FinTech': 5,
 'Therapeutics': 8,
 'Pharmaceutical': 8,
 'Machine Learning': 1,
 'Advertising': 3,
 'Big Data': 1,
 'Security': 1,
 'Health Diagnostics': 7,
 'Cloud Computing': 1,
 'Finance': 5,
 'Energy': 4,
 'Telecommunications': 6,
 'Cyber Security': 1,
 'Apps': 1,
 'Hardware': 6,
 'Wireless': 6,
 'Marketing': 3,
 'Electronics': 6,
 'Life Science': 8,
 'Retail': 2,
 'Wellness': 7,
 'Computer': 1,
 'Video': 3,
 'Semiconductor': 6,
 'Food and Beverage': 2,
 'Information Services': 1,
 'Education': 2,
 'Marketplace': 2,
 'Mobile Apps': 1,
 'Biopharma': 8,
 'Network Security': 1,
 'Social Media': 3,
 'Real Estate': 2,
 'Renewable Energy': 4,
 'Robotics': 4,
 'Payments': 5,
 'Digital Media': 3,
 'Internet of Things': 6,
 'Service Industry': 2,
 'Transportation': 4,
 'Hospital': 7,
 'Automotive': 4,
 'Cloud Data Services': 1,
 'B2B': 2,
 'Human Resources': 2,
 'Consumer Electronics': 6,
 'Logistics': 2,
 'Business Intelligence': 1,
 'Genetics': 8,
 'Media and Entertainment': 3,
 'Banking': 5,
 'CRM': 1,
 'Insurance': 5,
 'Web Hosting': 1,
 'Consulting': 1,
 'Developer Tools': 1,
 'Blockchain': 5,
 'Collaboration': 1,
 'Supply Chain Management': 1,
 'Fashion': 3,
 'Messaging': 1,
 'Content': 3,
 'Infrastructure': 6,
 'Agriculture': 4,
 'Gaming': 1,
 'Industrial': 4,
 'Predictive Analytics': 1,
 'Real Time': 1,
 'Fitness': 7,
 'Customer Service': 1,
 'Risk Management': 1,
 'Marketing Automation': 1,
 'Solar': 4,
 'Data Integration': 1,
 'Consumer': 2,
 'EdTech': 2,
 'Developer Platform': 1,
 'Cloud Security': 1,
 'Consumer Goods': 2,
 'Publishing': 2,
 'Cryptocurrency': 5,
 'Travel': 2,
 'Sports': 3,
 'Database': 1,
 'mHealth': 7,
 'Hospitality': 2,
 'CleanTech': 4,
 'Personal Health': 7,
 'Video Streaming': 1,
 'Recruiting': 2,
 'Music': 3,
 'Cloud Infrastructure': 1,
 'Developer APIs': 1,
 'Open Source': 1,
 'Oil and Gas': 4,
 'Product Design': 3,
 'E-Learning': 2,
 'Clinical Trials': 8,
 'Communications Infrastructure': 6,
 'Construction': 4,
 'Communities': 3,
 'InsurTech': 5,
 'Search Engine': 1,
 'Shopping': 2,
 'Clean Energy': 4,
 'Web Development': 1,
 'Digital Marketing': 3,
 'Data Center': 6,
 'Aerospace': 4,
 'Data Visualization': 1,
 'Advertising Platforms': 3,
 'Digital Entertainment': 3,
 'Energy Efficiency': 4,
 'Food Processing': 4,
 'Lifestyle': 3,
 'News': 3,
 'Sustainability': 4,
 'Compliance': 1,
 'Restaurants': 2,
 'Retail Technology': 2,
 'Delivery': 2,
 'Productivity Tools': 1,
 'Virtualization': 1,
 'Data Storage': 1,
 'Brand Marketing': 3,
 'iOS': 1,
 'Virtual Reality': 1,
 'Identity Management': 1,
 'Business Development': 1,
 'Wearables': 6,
 'Social Network': 3,
 'Training': 2,
 'Nanotechnology': 6,
 'Industrial Automation': 6,
 'Video Games': 1,
 'Sales': 1,
 'Small and Medium Businesses': 1,
 '3D Technology': 1,
 'Sensor': 6,
 'AgTech': 4,
 'Electric Vehicle': 4,
 'Computer Vision': 1,
 'Autonomous Vehicles': 1,
 'Enterprise': 1,
 'Property Management': 2,
 'Chemical': 4,
 'Lending': 5,
 'Network Hardware': 6,
 'Professional Services': 1,
 'Sales Automation': 1,
 'Cloud Management': 1,
 'Farming': 4,
 'Market Research': 3,
 'Mobile Payments': 5,
 'Beauty': 2,
 'Augmented Reality': 1,
 'Advanced Materials': 4,
 'Energy Management': 4,
 'VoIP': 6,
 'Location Based Services': 1,
 'Management Information Systems': 1,
 'Events': 1,
 'Energy Storage': 4,
 'Commercial Real Estate': 2,
 'Online Portals': 3,
 'Food Delivery': 2,
 'Cannabis': 2,
 'Mobile Devices': 1,
 'Enterprise Applications': 1,
 'Natural Language Processing': 1,
 'Credit': 5,
 'Employee Benefits': 7,
 'Government': 1,
 'Nutrition': 7,
 'Broadcasting': 3,
 'Organic Food': 4,
 'Asset Management': 5,
 'Personal Finance': 5,
 'Android': 1,
 'Social Media Marketing': 3,
 'PaaS': 1,
 'Trading Platform': 5,
 'Email': 3,
 'E-Commerce Platforms': 2,
 'Subscription Service': 2,
 'IT Infrastructure': 6,
 'Audio': 1,
 'Project Management': 1,
 'Personalization': 1,
 'Optical Communication': 6,
 'Smart Home': 6,
 'TV': 3,
 'Commercial': 2,
 'Innovation Management': 1,
 'Accounting': 3,
 'Fraud Detection': 1,
 'Mobile Advertising': 3,
 'Battery': 4,
 'Health Insurance': 7,
 'Online Games': 1,
 'Legal': 1,
 'Bitcoin': 5,
 'IT Management': 1,
 'Neuroscience': 8,
 'Employment': 2,
 'Software Engineering': 1,
 'Water': 4,
 'Document Management': 1,
 'Venture Capital': 5,
 '3D Printing': 4,
 "Women's": 3,
 'Content Delivery Network': 6,
 'Drones': 4,
 'Privacy': 1,
 'Web Design': 1,
 'Home Health Care': 7,
 'Local': 3,
 'Photography': 1,
 'Content Marketing': 3,
 'Wealth Management': 5,
 'Content Creators': 3,
 'Email Marketing': 3,
 'Application Performance Management': 1,
 'Natural Resources': 4,
 'Environmental Engineering': 4,
 'Real Estate Investment': 5,
 'Public Safety': 1,
 'Loyalty Programs': 3,
 'Shipping': 2,
 'Crowdsourcing': 1,
 'File Sharing': 1,
 'Social': 3,
 'Diabetes': 7,
 'Pet': 7,
 'Business Information Systems': 1,
 'Electrical Distribution': 4,
 'GreenTech': 4,
 'GovTech': 1,
 'Rental': 2,
 'Electronic Health Record (EHR)': 7,
 'Communication Hardware': 6,
 'Delivery Service': 2,
 'Higher Education': 2,
 'Lighting': 4,
 'Tourism': 2,
 'Outsourcing': 1,
 'Wine And Spirits': 2,
 'Credit Cards': 5,
 'Cosmetics': 2,
 'Career Planning': 2,
 'Event Management': 1,
 'Children': 2,
 'Cloud Storage': 1,
 'Grocery': 2,
 'Architecture': 1,
 'Billing': 5,
 'Intelligent Systems': 1,
 'Web Apps': 1,
 'Navigation': 1,
 'Test and Measurement': 1,
 'Bioinformatics': 8,
 'Non Profit': 1,
 'Consumer Lending': 5,
 'Peer to Peer': 5,
 'Smart Building': 4,
 'Transaction Processing': 5,
 'Waste Management': 4,
 'Leisure': 2,
 'Product Research': 8,
 'Wholesale': 2,
 'Ad Targeting': 3,
 'Fleet Management': 1,
 'Recycling': 4,
 'Corporate Training': 2,
 'Geospatial': 1,
 'Point of Sale': 2,
 'Procurement': 1,
 'Home Services': 2,
 'Legal Tech': 1,
 'Dental': 7,
 'Video Conferencing': 1,
 'Consumer Software': 1,
 'Rental Property': 2,
 'Flash Storage': 1,
 'Air Transportation': 4,
 'Fuel': 4,
 'Public Relations': 3,
 'Industrial Engineering': 4,
 'Mechanical Engineering': 4,
 'Ad Network': 3,
 'Knowledge Management': 1,
 'Ride Sharing': 2,
 'Data Center Automation': 1,
 'Image Recognition': 1,
 'Public Transportation': 4,
 'Professional Networking': 6,
 'Home Decor': 2,
 'Online Auctions': 2,
 'RFID': 6,
 'ISP': 6,
 'Industrial Manufacturing': 4,
 'Residential': 2,
 'Biometrics': 1,
 'Veterinary': 7,
 'Building Material': 4,
 'Advice': 5,
 'Management Consulting': 1,
 'Environmental Consulting': 4,
 'Intellectual Property': 1,
 'National Security': 4,
 'Social Media Management': 3,
 'Crowdfunding': 5,
 'Snack Food': 2,
 'eSports': 3,
 'IaaS': 1,
 'Lead Generation': 3,
 'Product Management': 1,
 'Enterprise Resource Planning (ERP)': 1,
 'Financial Exchanges': 5,
 'SMS': 1,
 'Web Browsers': 1,
 'Speech Recognition': 1,
 'Elder Care': 7,
 'Film': 3,
 'Furniture': 2,
 'Ticketing': 2,
 'Freight Service': 2,
 'SEO': 3,
 'Power Grid': 4,
 'Scheduling': 1,
 'Home Improvement': 2,
 'Home Renovation': 2,
 'Private Cloud': 1,
 'Data Mining': 1,
 'Shoes': 2,
 'Staffing Agency': 2,
 'Unified Communications': 6,
 'Alternative Medicine': 7,
 'Emergency Medicine': 7,
 'Impact Investing': 5,
 'PC Games': 1,
 'Space Travel': 4,
 'Water Purification': 4,
 'B2C': 2,
 'Photo Sharing': 1,
 'Video on Demand': 1,
 'Child Care': 7,
 'Eyewear': 7,
 'Satellite Communication': 4,
 'Virtual Assistant': 1,
 'Printing': 4,
 'Text Analytics': 1,
 'Art': 3,
 'Embedded Systems': 6,
 'Last Mile Transportation': 4,
 'Hotel': 2,
 'Mapping Services': 1,
 'Biofuel': 4,
 'Coffee': 2,
 'Freelance': 2,
 'Quality Assurance': 1,
 'Auctions': 2,
 'App Marketing': 3,
 'Content Discovery': 3,
 'Organic': 4,
 'Physical Security': 4,
 'Virtual Workforce': 1,
 'Wind Energy': 4,
 'Interior Design': 2,
 'Life Insurance': 5,
 'Auto Insurance': 5,
 'Ethereum': 5,
 'Human Computer Interaction': 1,
 'Smart Cities': 6,
 'Gamification': 1,
 'Stock Exchanges': 5,
 'Video Chat': 1,
 'Machinery Manufacturing': 4,
 'Mining': 4,
 'Sharing Economy': 2,
 'Technical Support': 1,
 'Call Center': 1,
 'UX Design': 1,
 'Warehousing': 2,
 'Meeting Software': 1,
 'Task Management': 1,
 'Video Advertising': 3,
 'Dietary Supplements': 7,
 'Law Enforcement': 4,
 'Property Insurance': 5,
 'Contact Management': 1,
 'Cooking': 2,
 'Ediscovery': 1,
 'Language Learning': 2,
 'Consumer Research': 3,
 'Jewelry': 2,
 'Price Comparison': 2,
 'Sporting Goods': 2,
 'Tutoring': 2,
 'Skill Assessment': 2,
 'Coworking': 2,
 'Gift Card': 2,
 'Private Social Networking': 3,
 'Video Editing': 1,
 'Blogging Platforms': 1,
 'Internet Radio': 3,
 'Music Streaming': 3,
 'Operating Systems': 1,
 'Virtual Desktop': 1,
 'Consumer Applications': 1,
 'Digital Signage': 1,
 'Laser': 4,
 'Podcast': 3,
 'Graphic Design': 3,
 'Packaging Services': 2,
 'Social Media Advertising': 3,
 'Car Sharing': 2,
 'Outdoors': 2,
 'Debit Cards': 5,
 'Direct Sales': 2,
 'Leasing': 5,
 'Social Impact': 1,
 'Baby': 2,
 'Casual Games': 1,
 'Fantasy Sports': 3,
 'Property Development': 2,
 'Same Day Delivery': 2,
 'Coupons': 2,
 'Electronic Design Automation (EDA)': 1,
 'Homeland Security': 1,
 'Parking': 1,
 'DSP': 6,
 'Parenting': 2,
 'Self-Storage': 2,
 'Semantic Search': 1,
 'Travel Accommodations': 2,
 'Animal Feed': 7,
 'Association': 2,
 'Business Travel': 2,
 'Journalism': 3,
 'Social Entrepreneurship': 3,
 'Textiles': 4,
 'Commercial Insurance': 5,
 'Facility Management': 1,
 'GPS': 1,
 'Incubators': 2,
 'Psychology': 7,
 'TV Production': 3,
 'Universities': 2,
 'Green Consumer Goods': 2,
 'EBooks': 3,
 'Vacation Rental': 2,
 'Craft Beer': 2,
 'Elderly': 7,
 'Family': 2,
 'MMO Games': 1,
 'Content Syndication': 3,
 'Film Production': 3,
 'Recreation': 2,
 'Charity': 2,
 'Chemical Engineering': 4,
 'Gambling': 3,
 'Military': 4,
 'CivicTech': 1,
 'Green Building': 4,
 'Intrusion Detection': 1,
 'Quantum Computing': 1,
 'Brewing': 2,
 'Collaborative Consumption': 1,
 'Fertility': 7,
 'Home and Garden': 2,
 'Embedded Software': 1,
 'Hedge Funds': 5,
 'Local Business': 2,
 "Men's": 3,
 'Retirement': 5,
 'Simulation': 1,
 'Direct Marketing': 3,
 'Drone Management': 4,
 'Gift': 2,
 'Product Search': 2,
 'Social Recruiting': 2,
 'Commercial Lending': 5,
 'Consumer Reviews': 2,
 'A/B Testing': 1,
 'Facial Recognition': 1,
 'Mining Technology': 4,
 'Information and Communications Technology (ICT)': 1,
 'Social CRM': 1,
 'Linux': 1,
 'Wedding': 2,
 'Ad Retargeting': 3,
 'Adult': 3,
 'Animation': 3,
 'Building Maintenance': 1,
 'Catering': 2,
 'Funding Platform': 5,
 'Aquaculture': 4,
 'Biomass Energy': 4,
 'Lead Management': 3,
 'Reputation': 1,
 'STEM Education': 2,
 'Dating': 3,
 'Lingerie': 2,
 'Outpatient Care': 7,
 'Photo Editing': 1,
 'Virtual Currency': 5,
 'Visual Search': 1,
 'CAD': 1,
 'Emerging Markets': 5,
 'Toys': 2,
 'Wired Telecommunications': 6,
 'Concerts': 2,
 'Fuel Cell': 4,
 'Local Advertising': 3,
 'Marine Technology': 4,
 'Nursing and Residential Care': 7,
 'Plastics and Rubber Manufacturing': 4,
 'CMS': 1,
 'Reservations': 2,
 'Facilities Support Services': 1,
 'Motion Capture': 1,
 'Precious Metals': 4,
 'Sex Industry': 3,
 'Social News': 3,
 'Comics': 3,
 'Office Administration': 1,
 'Penetration Testing': 1,
 'Politics': 3,
 'App Discovery': 3,
 'Cycling': 2,
 'DIY': 2,
 'E-Signature': 1,
 'Mineral': 4,
 'Nutraceutical': 7,
 'Primary Education': 2,
 'Q&A': 1,
 'Social Shopping': 2,
 'Translation Service': 1,
 'Angel Investment': 5,
 'Assistive Technology': 1,
 'Collectibles': 2,
 'Fruit': 4,
 'Guides': 2,
 'Performing Arts': 3,
 'Reading Apps': 1,
 'Vertical Search': 1,
 'Classifieds': 2,
 'Horticulture': 4,
 'Hydroponics': 4,
 'Racing': 3,
 'Resorts': 2,
 'Semantic Web': 1,
 'Tea': 4,
 'Film Distribution': 3,
 'Forestry': 4,
 'Industrial Design': 4,
 'Presentation Software': 1,
 'Ad Exchange': 3,
 'Farmers Market': 4,
 'Indoor Positioning': 6,
 'Personal Development': 7,
 'Application Specific Integrated Circuit (ASIC)': 6,
 'Bakery': 2,
 'Civil Engineering': 4,
 'Field Support': 1,
 'Field-Programmable Gate Array (FPGA)': 6,
 'SEM': 6,
 'Cosmetic Surgery': 2,
 'Fossil Fuels': 4,
 'GPU': 6,
 'Laundry and Dry-cleaning': 2,
 'Winery': 2,
 'Affiliate Marketing': 3,
 'Creative Agency': 3,
 'Event Promotion': 3,
 'Facebook': 3,
 'Mechanical Design': 4,
 'Social Bookmarking': 3,
 'Travel Agency': 2,
 'Vending and Concessions': 2,
 'Boating': 2,
 'College Recruiting': 2,
 'Fast-Moving Consumer Goods': 2,
 'Flowers': 2,
 'Marine Transportation': 4,
 'Railroad': 4,
 'Virtual World': 1,
 'Browser Extensions': 1,
 'Casino': 3,
 'Micro Lending': 5,
 'Presentations': 1,
 'Adventure Travel': 2,
 'Food Trucks': 2,
 'Independent Music': 3,
 'Landscaping': 2,
 'LGBT': 3,
 'Recreational Vehicles': 2,
 'Swimming': 2,
 'Usability Testing': 1,
 'Young Adults': 3,
 'DRM': 1,
 'Franchise': 5,
 'Freemium': 1,
 'Handmade': 2,
 'NFC': 6,
 'Nuclear': 4,
 'Personal Branding': 3,
 'Religion': 3,
 'Seafood': 2,
 'Continuing Education': 2,
 'Credit Bureau': 5,
 'Document Preparation': 1,
 'Edutainment': 3,
 'Music Label': 3,
 'Online Forums': 3,
 'Pollution Control': 4,
 'Soccer': 3,
 'Ad Server': 3,
 'Archiving Service': 1,
 'Domain Registrar': 6,
 'Golf': 2,
 'Millennials': 3,
 'Rehabilitation': 7,
 'Theatre': 3,
 'Windows': 1,
 'Basketball': 3,
 'Celebrity': 3,
 'Console Games': 1,
 'Musical Instruments': 2,
 'Secondary Education': 2,
 'Teenagers': 3,
 'Textbook': 2,
 'Vocational Education': 2,
 'Assisted Living': 7,
 'Distillery': 2,
 'Gift Registry': 2,
 'Group Buying': 2,
 'Quantified Self': 1,
 'Recipes': 2,
 'Debt Collections': 5,
 'Desktop Apps': 1,
 'Outdoor Advertising': 3,
 'Shipping Broker': 2,
 'Google Glass': 7,
 'Music Venues': 3,
 'QR Codes': 1,
 'Sex Tech': 3,
 'Tour Operator': 2,
 'Amusement Park and Arcade': 3,
 'Audiobooks': 3,
 'Confectionery': 2,
 'Contests': 3,
 'Courier Service': 2,
 'Housekeeping Service': 2,
 'Local Shopping': 2,
 'Paper Manufacturing': 4,
 'Spam Filtering': 1,
 'Tobacco': 2,
 'Foundries': 6,
 'Funerals': 2,
 'Gift Exchange': 2,
 'Google': 1,
 'Homeless Shelter': 3,
 'Humanitarian': 3,
 'Janitorial Service': 2,
 'Livestock': 4,
 'Twitter': 3,
 'Underserved Children': 1,
 'Virtual Goods': 3,
 'Windows Phone': 1,
 'Cause Marketing': 3,
 'Charter Schools': 2,
 'Cricket': 3,
 'Multi-level Marketing': 3,
 'Museums and Historical Sites': 3,
 'Nightclubs': 3,
 'Playstation': 1,
 'Shopping Mall': 2,
 'Wood Processing': 4,
 'American Football': 3,
 'Collection Agency': 5,
 'Generation Z': 3,
 'In-Flight Entertainment': 1,
 'macOS': 1,
 'Made to Order': 2,
 'Nightlife': 3,
 'Sailing': 2,
 'SNS': 1,
 'Social Assistance': 7,
 'Sponsorship': 3,
 'Surfing': 2}

In [9]:
tags = rounds[['Organization Name', 'Org_Code', 'Round_Code', 'Organization Industries']]
tags = tags.loc[~tags['Organization Industries'].isin([np.nan])]
tags.loc[tags['Organization Industries'].isin([np.nan]), 'Organization Industries'] = ''
tags['tag'] = tags['Organization Industries']
tags['tag'] = tags['tag'].replace({'^,':''}, regex=True)
tags['tag'] = tags['tag'].replace({',$':''}, regex=True)
tags = tags[['Organization Name', 'Org_Code', 'Round_Code', 'tag']].reset_index(drop = True)
tags['tag'] = tags['tag'].str.split(',').map(set).str.join(',')
tags['final'] = 0
tags['if_same_count'] = 0
tags

,Organization Name,Org_Code,Round_Code,tag,final,if_same_count
0,&pizza,/organization/pizza-4,/funding_round/pizza-4-seed--5f65c774,"Food Processing,Food and Beverage,Food Delivery,Snack Food",0,0
1,&pizza,/organization/pizza-4,/funding_round/pizza-4-undisclosed--d9bc03f1,"Food Processing,Food and Beverage,Food Delivery,Snack Food",0,0
2,&pizza,/organization/pizza-4,/funding_round/pizza-4-series-unknown--3bdd84b3,"Food Processing,Food and Beverage,Food Delivery,Snack Food",0,0
3,&pizza,/organization/pizza-4,/funding_round/pizza-4-series-unknown--819c151c,"Food Processing,Food and Beverage,Food Delivery,Snack Food",0,0
4,&pizza,/organization/pizza-4,/funding_round/pizza-4-convertible-note--7b31885f,"Food Processing,Food and Beverage,Food Delivery,Snack Food",0,0
...,...,...,...,...,...,...
67594,zulily,/organization/zulily,/funding_round/zulily-series-a--231238fa,"Retail,E-Commerce,Delivery",0,0
67595,zulily,/organization/zulily,/funding_round/zulily-series-b--c1175b56,"Retail,E-Commerce,Delivery",0,0
67596,zulily,/organization/zulily,/funding_round/zulily-series-c--80316213,"Retail,E-Commerce,Delivery",0,0
67597,zulily,/organization/zulily,/funding_round/zulily-series-d--fe4ecba4,"Retail,E-Commerce,Delivery",0,0
67598,zulily,/organization/zulily,-,"Retail,E-Commerce,Delivery",0,0

In [10]:
# count_5 = 0
# count_4 = 0
# for i in range(len(tags)):
#     string = tags.iloc[i, :]['tag'].split(',')
#     original = string.copy()
#     for k in range(len(string)):
#         string[k] = aaa[string[k]]
#     for tag in string:
#         if tag == 5:
#             count_5 += 1
#             if 3 in string:
#                 count_4 +=1
# print(count_5)
# print(count_4)

In [11]:
# tab = pd.DataFrame(columns=[1, 2, 3, 4, 5, 6, 7, 8], index=[0, 1, 2, 3, 4, 5, 6, 7, 8])
# tab = tab.fillna(value=0)

# for i in range(len(tags)):
#     string = tags.iloc[i, :]['tag'].split(',')
#     #print(string)
#     for i in range(len(string)):
#         string[i] = aaa[string[i]]
#     #print(string)
#     d = {1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0}
#     for tag in string:
#         if tag in d:
#             d[tag] += 1
#     #print(d)
#     single = 0
#     tatata = []
#     for tag in d:
#         if d[tag] != 0:
#             single += 1
#             tatata.append(tag)
#     #print(tatata)
#     #print(single)
#     if single == 1:
#         tab.loc[0, tatata[0]] += 1
#     else:
#         for tag in tatata:
#             if d[tag] >= 2:
#                 tab.loc[tag, tag] += 1
#             for tag2 in tatata:
#                 if tag2 != tag:
#                     tab.loc[tag, tag2] += 1

# tab.to_csv('taxonomia.csv', index=True, encoding = 'utf-8-sig')
# tab

In [12]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67599 entries, 0 to 67598
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Organization Name  67599 non-null  object
 1   Org_Code           67599 non-null  object
 2   Round_Code         67599 non-null  object
 3   tag                67599 non-null  object
 4   final              67599 non-null  int64
 5   if_same_count      67599 non-null  int64
dtypes: int64(2), object(4)
memory usage: 3.1+ MB

In [12]:
for i in range(len(tags)):
    string = tags.iloc[i, :]['tag'].split(',')
    #print(string)
    for k in range(len(string)):
        string[k] = aaa[string[k]]
    #print(string)
    d = {8:0, 7:0, 6:0, 5:0, 4:0, 3:0, 2:0, 1:0}
    for tag in string:
        if tag in d:
            d[tag] += 1
    #print(d)
    max_tag = max(d, key=d.get)
    max_count = max(d[tag] for tag in d)
    tags.at[i, 'final'] = max_tag
    #print(max_tag)
    #print(max_count)
    for tag in [2,3,4,5,6,7,8]:
        if (tag != max_tag) and (d[tag] == max_count):
            tags.at[i, 'if_same_count'] = tag
            #print(tag)
            
tags.to_csv('tags.csv', index=False, encoding = 'utf-8-sig')
tags

,Organization Name,Org_Code,Round_Code,tag,final,if_same_count
0,&pizza,/organization/pizza-4,/funding_round/pizza-4-seed--5f65c774,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
1,&pizza,/organization/pizza-4,/funding_round/pizza-4-undisclosed--d9bc03f1,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
2,&pizza,/organization/pizza-4,/funding_round/pizza-4-series-unknown--3bdd84b3,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
3,&pizza,/organization/pizza-4,/funding_round/pizza-4-series-unknown--819c151c,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
4,&pizza,/organization/pizza-4,/funding_round/pizza-4-convertible-note--7b31885f,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
...,...,...,...,...,...,...
67594,zulily,/organization/zulily,/funding_round/zulily-series-a--231238fa,"Delivery,E-Commerce,Retail",2,0
67595,zulily,/organization/zulily,/funding_round/zulily-series-b--c1175b56,"Delivery,E-Commerce,Retail",2,0
67596,zulily,/organization/zulily,/funding_round/zulily-series-c--80316213,"Delivery,E-Commerce,Retail",2,0
67597,zulily,/organization/zulily,/funding_round/zulily-series-d--fe4ecba4,"Delivery,E-Commerce,Retail",2,0
67598,zulily,/organization/zulily,-,"Delivery,E-Commerce,Retail",2,0

In [13]:
tags = tags.drop(['Round_Code'], axis=1)
tags = tags.drop_duplicates()
tags

,Organization Name,Org_Code,tag,final,if_same_count
0,&pizza,/organization/pizza-4,"Food and Beverage,Food Processing,Food Delivery,Snack Food",2,0
5,(mt) Media Temple,/organization/media-temple,"Cloud Management,Web Hosting,Cloud Computing",1,0
8,0x,/organization/0x-project,"Blockchain,Ethereum,Cryptocurrency",5,0
10,10 Federal,/organization/10-federal,"Self-Storage,Rental,Leasing",2,0
13,10-4 Systems,/organization/10-4-systems,"Mobile,Transportation,Software",1,0
...,...,...,...,...,...
67582,yello,/organization/yello,"Mobile,Recruiting,Software,SaaS,CRM",1,0
67587,you.com,/organization/you-com-523e,"Search Engine,Internet,Information Technology",1,0
67589,zSpace,/organization/zspace,"Education,STEM Education,Social Impact,Software,Innovation Management,Virtual Reality",1,0
67592,zecOps,/organization/zecops-inc,"Computer,Network Security,Information Technology",1,0
67594,zulily,/organization/zulily,"Delivery,E-Commerce,Retail",2,0

In [14]:
tags.loc[tags['if_same_count'] != 0]

,Organization Name,Org_Code,tag,final,if_same_count
30,10X Genomics,/organization/10x-genomics,"Genetics,Biotechnology,Health Care,Medical",8,7
96,20/20 Gene Systems,/organization/20-20-gene-systems-inc,"Biotechnology,Health Diagnostics,Big Data",8,7
151,3-Dimensional Pharmaceuticals,/organization/3-dimensional-pharmaceuticals,"Pharmaceutical,Health Care",8,7
164,360fly,/organization/360fly-inc,"Video,Consumer Electronics,Software",6,3
170,3BG Supply Co.,/organization/3bg-supply-co,"Service Industry,Industrial,Information Technology",4,2
...,...,...,...,...,...
67252,nanoMR,/organization/nanomr,"Developer Platform,Biotechnology,Health Care",8,7
67258,neoSaej,/organization/neosaej,"Auctions,E-Commerce,Internet,Insurance,Financial Services,Marketplace,Banking",5,2
67349,quip,/organization/quip-2,"Product Design,E-Commerce,Dental,Beauty,Health Care",7,2
67370,reThought Insurance,/organization/rethought-insurance,"Innovation Management,InsurTech,Commercial",5,2
67384,scPharmaceuticals,/organization/scpharmaceuticals,"Medical,Biotechnology,Health Care,Pharmaceutical",8,7

In [15]:
tags.groupby(['final']).size().reset_index(name = 'count')

   final  count
0      1   6871
1      2   1807
2      3   1321
3      4   1573
4      5   1415
5      6   1211
6      7   2480
7      8   2079

1 = Software (112735  206)  
2 = EComm (30089  162)  
3 = AdMedia (21046  118)  
4 = Physical (23657  90)  
5 = FinTech (18129  48)  
6 = Infra (15860  37)  
7 = Health (32407  36)  
8 = Biotech (20811  10)