In [1]:
import pandas as pd
import numpy as np
from numpy import diff
import matplotlib.pyplot as plt
import re

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.options.mode.chained_assignment = None #отключить варнинги на изменение оригинального датафрейма

### Здесь находятся все изменяемые глобальные переменные и гиперпараметры

Здесь можно изменить директорию с исходными датасетами

In [2]:
source_dir = 'F:/Project/csv/'

### Считываем все необходимые исходные csv

In [3]:
people = pd.read_csv(source_dir + 'people.csv')
people.head(3)

,first_name,last_name,country_code,state_code,city,cb_url,logo_url,twitter_url,facebook_url,linkedin_url,primary_affiliation_organization,primary_affiliation_title,primary_organization_uuid,gender,uuid,created_at,updated_at
0,Jessica,Tippens,NaN,NaN,NaN,https://www.crunchbase.com/person/jessica-tippens,"https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_120,w_120,f_jpg/kakjvh2s1rbfowbyxq7p",NaN,https://www.facebook.com/jessica.tippens.16,https://www.linkedin.com/in/jessica-tippens,NaN,NaN,NaN,female,db1cfe21-623f-4949-bc96-43ede90fc7d1,2018-04-23 08:56:51,2018-04-23 08:56:51
1,Matthew,Schwade,NaN,NaN,NaN,https://www.crunchbase.com/person/matthew-schwade,"https://crunchbase-production-res.cloudinary.com/image/upload/h_120,w_120,f_jpg/v1507847753/placeholder_zgpxrr.png",NaN,NaN,NaN,NaN,NaN,NaN,male,4dbc1b77-8387-160a-60dd-3ae516cb51ae,2013-08-15 14:13:59,2018-02-12 23:35:45
2,Canli Bahis,Siteleri,NaN,NaN,NaN,https://www.crunchbase.com/person/canli-bahis-siteleri,"https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_120,w_120,f_jpg/odqzuofciw9inopdfedv",NaN,NaN,NaN,NaN,NaN,NaN,male,db50c705-576a-4e79-b7b3-6c2bb675ad27,2018-05-07 09:57:23,2018-05-11 05:49:30

In [4]:
people_descriptions = pd.read_csv(source_dir + 'people_descriptions.csv')
people_descriptions.head(3)

,uuid,description
0,5d276890-6624-2eea-39bb-b6973cfa805d,"Postgraduate Student, System Librarian, Entrepreneur and eager to learn new things."
1,f08e5e83-9053-e2b6-fb21-49e11a97e2ff,"Full Body to Body Massage in Lajpat Nagar Delhi, It is a body massage, made with warm sesame oil and aromatherapy, has rebalancing effects of energy, detoxifying, draining, debugging and relaxing body and mind."
2,037b0919-132d-af3d-3884-642cfbfc19c7,"Executive Search Services for Renewable Energy and Software Technology companies.\n\r\nWe handle each role on a very focused basis, each role is specified carefully, we then identify a number of potential candidates and then approach them to prepare a short list that you can interview. If growth is important we can really help.\r\n\r\nReal Track record: \r\n\r\nOracle Germany recruited Country Manager who grew the company from $250k to $800m in 8 Years; Sybase Software recruited 70 people from Day one and zero revenues in Europe, they grew to $400m in 6 years. \r\n\r\nEuropean founded Companies: Recruiting Investing Chairman and NEDs from Silicon Valley, Boston and Europe who add significant contacts, opportunities and funding to each client. A number of companies achieved significant funding and exits due to these placements.\r\n\r\nWe will exchange some of the fee for equity.\r\n\r\nRenewable Energy clients\r\n\r\nWe are interested in growth companies such as: EPCs, ICPs, IPP, DNO, Developers, Investors. \r\nIn Technology we are interested in assisting: Manufacturers, Software Developers, Resellers, Distributors, Systems Integrator Groups.\r\n\r\nSummary of my career to date\r\n\r\nA career of 26 years in the recruitment industry from 1983 to 2009 working mainly on a retained search assignment basis handling assignments in the technology and engineering sectors : UK, Germany, France, Benelux, Sweden, Denmark, Spain, Italy and the USA.\r\n\r\nI speak fluent French after being brought up there for 9 years.\r\n\r\nOver the past five years I founded two start ups in the UK in the renewable energy sector, revenues generated in both companies from a zero start.\r\n\r\nFrelish Energy and Green Power Ventures."

In [5]:
degrees = pd.read_csv(source_dir + 'degrees.csv')
degrees.head(3)

,degree_uuid,institution_uuid,person_uuid,degree_type,subject,started_on,completed_on,is_completed,created_at,updated_at
0,00004d72-af3d-4c0a-451b-b0a235938e60,efef5d98-4f0a-149c-11a7-d5fd866648b0,921a5938-45de-de57-3ed8-33fcfbde9f30,BS,Computer Science,NaN,NaN,f,2013-02-08 03:04:19,2018-02-13 01:39:29
1,00007557-f8ec-66d3-8833-76172b03cbc3,ef989047-b04e-78e7-7d6d-a9281c0e0278,73da25af-a0d2-23e7-a111-3a03e2669189,BBA,Finance,1992-01-01,1996-01-01,t,2016-08-12 04:05:48,2018-02-13 01:39:29
2,0000cf53-4c72-4832-bbf8-4fb1da36b2cf,4463c2d7-3901-347d-7fe8-4ddd2d55f5be,eff3916d-2a77-4034-bb6a-d383aef0c370,Bachelor's degree,NaN,NaN,NaN,f,2018-05-01 07:50:14,2018-05-01 07:50:14

In [6]:
jobs = pd.read_csv(source_dir + 'jobs.csv')
jobs.head(3)

,person_uuid,org_uuid,job_uuid,started_on,ended_on,is_current,title,job_type
0,a3fa579c-edf6-6a43-3632-2836d2e1dc72,02448d46-658f-692d-b506-67b1730e59a3,d9585acc-78b1-e921-00da-447cda676a2a,2014-03-01,NaN,t,Managing Director & Legal,executive
1,7c2d9b4e-6759-ce5f-c9a3-68da221e1f9a,02448d46-658f-692d-b506-67b1730e59a3,4cf73cce-b3f8-b60b-6a91-35c89f637399,2014-01-01,NaN,t,Managing Director,executive
2,949f42bd-d728-4ced-a40b-d39e980a6ca0,13dc9ece-f5dd-46f6-8804-f956bbb29b1d,d1d5deb6-be43-44e5-8a12-b8552c0a92f8,2009-07-01,2011-03-01,f,"Vice President, Strategic Client Program Management",executive

In [7]:
organizations = pd.read_csv(source_dir + 'organizations.csv', dtype={'founded_on': object, 'last_funding_on': object})
organizations.head(3)

,company_name,roles,permalink,domain,homepage_url,country_code,state_code,region,city,address,status,short_description,category_list,category_group_list,funding_rounds,funding_total_usd,founded_on,last_funding_on,closed_on,employee_count,email,phone,facebook_url,linkedin_url,cb_url,logo_url,twitter_url,aliases,uuid,created_at,updated_at,primary_role,type
0,Intel,"company,investor",/organization/intel,intel.com,http://www.intel.com/,USA,CA,SF Bay Area,Santa Clara,2200 Mission College Blvd,ipo,"Intel designs, manufactures, and sells integrated digital technology platforms worldwide.","Hardware,Manufacturing,Product Design,Semiconductor","Design,Hardware,Manufacturing,Science and Engineering",1,2510000.0,1968-07-18,1968-07-31,NaN,10000+,NaN,NaN,https://www.facebook.com/Intel,https://www.linkedin.com/company/intel-corporation,https://www.crunchbase.com/organization/intel,"https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_120,w_120,f_jpg/v1505768454/wrhwa2ogipbd1o6tgggi.png",http://twitter.com/intel,N M Electronics,1e4f199c-363b-451b-a164-f94571075ee5,2008-02-06 06:28:14,2018-04-17 08:02:15,company,organization
1,Intercomp,company,/organization/intercomp,intercompcompany.com,http://www.intercompcompany.com/,USA,OH,Cleveland,Medina,3839 County Road 116,operating,Intercomp designs and manufactures weighing and measurement solutions.,"Hardware,Software","Hardware,Software",1,549000.0,1968-01-01,1970-12-31,NaN,101-250,NaN,800-328-3336,NaN,https://www.linkedin.com/company/906845,https://www.crunchbase.com/organization/intercomp,"https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_120,w_120,f_jpg/v1503063825/nlf2m2lysiyenn7te9rs.png",NaN,NaN,6681b1b0-0cea-6a4a-820d-60b15793fa66,2015-07-26 19:09:56,2018-04-17 12:08:01,company,organization
2,Gruppo Editoriale L'Espresso Spa,company,/organization/gruppo-editoriale-lespresso-spa,gruppoespresso.it,http://www.gruppoespresso.it/en/nc.html,ITA,NaN,Rome,Rome,"Gruppo Editoriale L’Espresso Spa, Via Cristoforo Colombo n. 149",ipo,Gruppo Editoriale L’Espresso is one of Italy’s leading publishing groups.,"News,Publishing","Content and Publishing,Media and Entertainment",1,NaN,1955-01-01,1976-01-01,NaN,1001-5000,NaN,(390)684-781,NaN,https://www.linkedin.com/company/952199,https://www.crunchbase.com/organization/gruppo-editoriale-lespresso-spa,"https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_120,w_120,f_jpg/v1455562308/ktp1kegwgi0poljoracz.png",NaN,NaN,e74463f7-94a8-ab7b-ba31-f4cd57a16570,2012-04-24 19:27:30,2018-04-17 12:27:30,company,organization

### Создание списков людей для выгрузки с LinkedIn

In [8]:
investor_list = pd.read_csv('C:/Users/Barca/Desktop/GitHub/IPO_Analysis/model_ver_based_on_2019/wave_1/1_DataPreparation/investor_list.csv')
company_list = pd.read_csv('C:/Users/Barca/Desktop/GitHub/IPO_Analysis/model_ver_based_on_2019/wave_1/1_DataPreparation/company_list.csv')

Из этих 228 фондов выберем всех людей

In [9]:
fund_jobs = jobs.loc[jobs['org_uuid'].isin(investor_list['investor_uuid'])]
fund_employee = set(fund_jobs['person_uuid'].values)
len(fund_employee)

10355

Столько людей там работают

In [10]:
len(fund_jobs)

12005

И столько должностей

In [11]:
fund_jobs_distrib = fund_jobs.groupby(['title']).size().reset_index(name = 'count')
fund_jobs_distrib.to_csv('fund_jobs_distrib.csv')
fund_jobs_distrib.sort_values(by = ['count'], ascending = False)

                                                title  count
2142                                          Partner    927
117                                         Associate    549
3532                                  Venture Partner    495
1316                                  General Partner    478
1863                                Managing Director    444
...                                               ...    ...
1431      Head Finance for operations at Amazon India      1
1432                     Head IoT Venture Investments      1
1433  Head Of Business Development, Alexa Hospitality      1
1434                                   Head Of Talent      1
3851           vice president of worldwide operations      1

[3852 rows x 2 columns]

Это все возможные должности в этих 228 фондах

После ручной проверки выбрали нужные должности:

In [12]:
selected_fund_jobs = pd.read_excel('./manually_selected_data/selected_fund_jobs.xlsx')
selected_fund_jobs

                        selected_titles
0                               Partner
1                             Associate
2                       Venture Partner
3                       General Partner
4                     Managing Director
..                                  ...
655                   managing director
656                    managing partner
657             principal and a partner
658                     retired Partner
659  veterinarian and managing director

[660 rows x 1 columns]

Возьмем всех когда-либо работавших в 228 избранных фондах на избранных должностях людей. Далее создадим из них список тех, для кого есть ссылка на LinkedIn. Для остальных посмотрим все места работы в истории и выберем наиболее актуальное для каждого человека

In [13]:
fund_jobs = jobs.loc[jobs['org_uuid'].isin(investor_list['investor_uuid'])]
fund_jobs = fund_jobs.loc[fund_jobs['title'].isin(selected_fund_jobs['selected_titles'])]
fund_jobs = fund_jobs.merge(people, how = 'left', left_on = 'person_uuid', right_on = 'uuid')
fund_jobs['linkedin_url'] = fund_jobs['linkedin_url'].replace(np.nan, '-')
fund_jobs = fund_jobs.groupby(['person_uuid', 'first_name', 'last_name', 'linkedin_url']).size().reset_index(name = 'count')
fund_jobs = fund_jobs[['person_uuid', 'first_name', 'last_name', 'linkedin_url']]
linkedin_fund_jobs = fund_jobs.loc[fund_jobs['linkedin_url'] != '-']
linkedin_fund_jobs

,person_uuid,first_name,last_name,linkedin_url
1,0004aea3-ee6f-5531-558d-c8b50c3afb21,Katherine,Wanner,http://www.linkedin.com/pub/wanner-katherine/4/a18/b87
2,000b0575-8e34-adf7-3d72-ec4fbd324a85,Kenichiro,Hara,https://www.linkedin.com/profile/view?id=59608450
3,00122598-4cf3-0a67-a91e-b1df72d8ee46,Tom,Cole,https://www.linkedin.com/in/tomcole
4,0014409b-f138-ecd1-31ad-6096989254c3,Raphael,Strauch,http://www.linkedin.com/pub/raphael-strauch/11/729/185/en
5,001f81b5-a191-03e5-e0a7-44731a87047f,Michael,Ricks,https://cn.linkedin.com/pub/michael-ricks/0/b4/385
...,...,...,...,...
6383,ffd054d9-4345-3f3e-fcee-a832fed7588b,Gerry,Libertelli,http://www.linkedin.com/in/ethigent
6385,ffd6e81f-0932-4672-d9f7-173426107952,Mounir,Gad,http://www.linkedin.com/in/mounirgad
6386,ffdae148-10a4-226c-8e67-1be6f9a5a496,Vicky,Guo,http://www.linkedin.com/in/vickyguo
6388,fffc4b17-9391-837e-d6f4-7fac3162db06,Carolyn,Flanagan,http://www.linkedin.com/pub/carolyn-flanagan/6/8b/b8
6389,fffd397c-279a-4c9e-a819-225726513784,Siri,Srinivas,http://linkedin.com/in/sirisrinivas

In [14]:
###Сломанные###
broken = pd.read_excel('./manually_selected_data/broken_links.xlsx')
broken_jobs = fund_jobs.loc[fund_jobs['person_uuid'].isin(broken['person_uuid'].values)]
broken_jobs = broken_jobs.merge(jobs, how = 'left', on = 'person_uuid')
broken_jobs = broken_jobs.merge(people[['uuid', 'primary_affiliation_organization']], how = 'left', left_on = 'person_uuid', right_on = 'uuid')
broken_jobs = broken_jobs.merge(organizations[['company_name', 'uuid']], how = 'left', left_on = 'org_uuid', right_on = 'uuid')
broken_jobs = broken_jobs[['person_uuid', 'first_name', 'last_name', 'org_uuid', 'company_name', 'started_on', 'ended_on', 'is_current', 'title', 'primary_affiliation_organization', 'job_uuid']]
broken_jobs = broken_jobs.drop_duplicates().reset_index(drop=True)
broken_jobs.loc[broken_jobs['is_current'] == 'f', 'is_current'] = 0
broken_jobs.loc[broken_jobs['is_current'] == 't', 'is_current'] = 1
broken_jobs = broken_jobs.sort_values(by = ['person_uuid'], ascending = False)
broken_jobs
###Сломанные###

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
1923,ffd054d9-4345-3f3e-fcee-a832fed7588b,Gerry,Libertelli,34a9bb66-0984-8de0-e7fb-13e976b4a135,General Catalyst,2001-08-22,2002-07-03,0,Team Member,Solid Innovations,2905a8a8-64f1-afef-d43f-52632f7b2e02
1922,ffd054d9-4345-3f3e-fcee-a832fed7588b,Gerry,Libertelli,f96580b4-7310-ed80-bca7-b5b7fa7dfe92,Solid Innovations,2015-01-15,NaN,1,CEO,Solid Innovations,7cc25c98-4d9c-b708-8ad9-49a03a6ccd39
1921,ff66fce4-f0ab-4cbf-9d55-a707e5a73506,Aman,Kandola,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,Bessemer Venture Partners,NaN,NaN,1,Investor,NaN,77462bed-ed25-4818-b24b-5fa8d5468330
1914,ff0bee2f-2676-561c-23db-3692892a4bbc,Jishnu,Bhattacharjee,1ae4f427-6424-2f63-cdd3-a8c7af4f8729,Mezi,2015-06-01,NaN,1,Board Memeber,Nexus Venture Partners,7e9b20de-ce12-7035-3ef3-f4f50e088904
1909,ff0bee2f-2676-561c-23db-3692892a4bbc,Jishnu,Bhattacharjee,f727a12c-3306-09b9-0099-363a08603e76,H2O.ai,NaN,NaN,1,Board Member,Nexus Venture Partners,e04c6270-66de-4fe6-9e2e-577b5b690b3a
...,...,...,...,...,...,...,...,...,...,...,...
1,03a7f927-159c-9293-5bbd-a1f4cccde419,Paul,Lowell,de06942e-c1ce-a728-af1f-7342e1254009,Amplicon Liveline,NaN,NaN,0,President and CEO,"Topsin Partners, LP",31930a1f-bb5b-44e8-82cd-70ad3260a720
6,03a7f927-159c-9293-5bbd-a1f4cccde419,Paul,Lowell,9dfcc77e-d29e-3518-af25-2c060a199049,FatWire Software,2008-01-01,2010-09-01,0,Director,"Topsin Partners, LP",719d8e2d-1409-4fbd-2396-c0b2abdd278d
7,03a7f927-159c-9293-5bbd-a1f4cccde419,Paul,Lowell,664fc37e-9ce2-0c09-3f04-5c1273257d75,"CosmoCom, Inc.",1996-01-01,2010-01-01,0,Chairman,"Topsin Partners, LP",54293ab0-35f9-2e90-4d21-73e9e6ac8685
8,03a7f927-159c-9293-5bbd-a1f4cccde419,Paul,Lowell,0fb367a3-3d1e-7306-d199-993199f08ad5,Lehman Brothers,1983-01-01,1994-01-01,0,Senior Vice President,"Topsin Partners, LP",2024b763-9cb2-387c-0c43-f9d7a4ff9b19
0,0004aea3-ee6f-5531-558d-c8b50c3afb21,Katherine,Wanner,a371f950-8ed4-0b82-e42c-503a780fc67e,Adams Street Partners,1993-01-01,NaN,1,Partner,Adams Street Partners,ae201bce-28e1-2b8a-72e1-7f6b333e1215

Это список всех сломанных

In [15]:
a = broken_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_jobs')
b = a.loc[a['number_of_jobs'] == 1]
broken_jobs_1 = broken_jobs.loc[broken_jobs['person_uuid'].isin(b['person_uuid'])]
len(broken_jobs_1)

43

In [16]:
b = a.loc[a['number_of_jobs'] > 1]
c = broken_jobs.loc[broken_jobs['person_uuid'].isin(b['person_uuid'])].sort_values(by = ['person_uuid'], ascending = False)
c = c.groupby(['person_uuid'])['is_current'].agg(['sum']).reset_index()
set(c['sum'].values)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24}

In [17]:
d = c.loc[c['sum'] == 1]
broken_jobs_2 = broken_jobs.loc[(broken_jobs['person_uuid'].isin(d['person_uuid'])) & (broken_jobs['is_current'] == 1)]
broken_jobs_2 = broken_jobs_2.sort_values(by = ['person_uuid'], ascending = False)
len(broken_jobs_2)

91

In [18]:
d = c.loc[c['sum'] == 0]
broken_jobs_3 = broken_jobs.loc[broken_jobs['person_uuid'].isin(d['person_uuid'])]
broken_jobs_3 = broken_jobs_3.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
broken_jobs_3_1 = broken_jobs_3.loc[~broken_jobs_3['started_on'].isin(w)]
e = set(broken_jobs_3_1['person_uuid'].values)
broken_jobs_3_1['started_on'] = pd.to_datetime(broken_jobs_3_1['started_on'])
broken_jobs_3_1 = broken_jobs_3_1.loc[broken_jobs_3_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(broken_jobs_3_1)

17

In [19]:
broken_jobs_3_2 = broken_jobs_3.loc[~broken_jobs_3['person_uuid'].isin(e)]
broken_jobs_3_2_1 = broken_jobs_3_2.loc[broken_jobs_3_2['company_name'] == broken_jobs_3_2['primary_affiliation_organization']]
q = broken_jobs_3_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
broken_jobs_3_2_1 = broken_jobs_3_2_1.loc[broken_jobs_3_2_1['person_uuid'].isin(w)]
len(broken_jobs_3_2_1)

0

In [20]:
broken_jobs_3_2_2 = broken_jobs_3_2.loc[~broken_jobs_3_2['person_uuid'].isin(w)]
#broken_jobs_3_2_2.to_csv('broken_jobs_3_2_2.csv')

In [21]:
q = pd.read_csv('./manually_selected_data/manual5.csv')
broken_jobs_3_2_2 = broken_jobs_3_2_2[broken_jobs_3_2_2['job_uuid'].isin(q['job_uuid'])]
len(broken_jobs_3_2_2)

3

In [22]:
d = c.loc[c['sum'] > 1]
broken_jobs_4 = broken_jobs.loc[(broken_jobs['person_uuid'].isin(d['person_uuid'])) & (broken_jobs['is_current'] == 1)]
broken_jobs_4 = broken_jobs_4.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
broken_jobs_4_1 = broken_jobs_4.loc[~broken_jobs_4['started_on'].isin(w)]
e = set(broken_jobs_4_1['person_uuid'].values)
broken_jobs_4_1['started_on'] = pd.to_datetime(broken_jobs_4_1['started_on'])
broken_jobs_4_1 = broken_jobs_4_1.loc[broken_jobs_4_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(broken_jobs_4_1)

108

In [23]:
broken_jobs_4_2 = broken_jobs_4.loc[~broken_jobs_4['person_uuid'].isin(e)]
broken_jobs_4_2_1 = broken_jobs_4_2.loc[broken_jobs_4_2['company_name'] == broken_jobs_4_2['primary_affiliation_organization']]
q = broken_jobs_4_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
broken_jobs_4_2_1 = broken_jobs_4_2_1.loc[broken_jobs_4_2_1['person_uuid'].isin(w)]
len(broken_jobs_4_2_1)

32

In [24]:
broken_jobs_4_2_2 = broken_jobs_4_2.loc[~broken_jobs_4_2['person_uuid'].isin(w)]
#broken_jobs_4_2_2.to_csv('broken_jobs_4_2_2.csv')

In [25]:
q = pd.read_csv('./manually_selected_data/manual6.csv')
broken_jobs_4_2_2 = broken_jobs_4_2_2[broken_jobs_4_2_2['job_uuid'].isin(q['job_uuid'])]
len(broken_jobs_4_2_2)

3

In [26]:
broken_fund_jobs = pd.concat([broken_jobs_1, broken_jobs_2, broken_jobs_3_1, broken_jobs_3_2_1, broken_jobs_3_2_2, broken_jobs_4_1, broken_jobs_4_2_1, broken_jobs_4_2_2]).drop_duplicates().reset_index(drop=True)
broken_fund_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
0,ff66fce4-f0ab-4cbf-9d55-a707e5a73506,Aman,Kandola,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,Bessemer Venture Partners,NaN,NaN,1,Investor,NaN,77462bed-ed25-4818-b24b-5fa8d5468330
1,f56d30f2-4411-b6d7-a0b8-f0d5f4938c40,Travis,Murdoch,4ca6cfbe-0eba-2bb5-88a7-d4c00235bd7d,Third Rock Ventures,NaN,NaN,1,Principal,Third Rock Ventures,c67c40be-8334-c6c8-f06a-4c624381d79c
2,f1fd4d43-ff9f-b0d6-b483-4613d6f0b8ab,Ekta,Dang,f3716725-552d-b9b5-59ad-de4ec64b1751,Intel Capital,NaN,NaN,1,Venture Capitalist,Intel Capital,cd80e7d9-1f5c-8703-82a6-24453d87149f
3,ee0009ab-b1de-4c81-a7d6-7f76fed7484f,Samuel Christopher,Wallace,9dd7066b-069a-9dd9-c211-06db31253bd0,Greycroft,2017-01-01,NaN,1,Associate,Greycroft,8f25eacd-e735-40ac-8e37-5825ed919e36
4,ea3e38e9-402e-2200-3bad-d93e0dec353f,Joel,Monegro,b5d0d7dd-cfc2-4c56-9ed4-847db73f8cee,Union Square Ventures,NaN,NaN,1,Member of Investment Team,Union Square Ventures,64efa7e6-ae16-e879-1eaf-d4146fb11793
...,...,...,...,...,...,...,...,...,...,...,...
292,1da5538b-21c0-5208-1f38-cea145c38571,Nicolas,Wittenborn,6efb9171-a87b-212d-f399-b0613da7b1c9,Insight Venture Partners,NaN,NaN,1,Vice President,Insight Venture Partners,de69a0c6-5786-eaa2-e318-9f39dc33839a
293,1a2630ba-e395-2b50-c4e0-69b6d0c9c955,Fay,Hazaveh,49239096-521d-73d3-932f-1c5ccb4e766f,Hewlett Packard Pathfinder,NaN,NaN,1,Investment Professional,Hewlett Packard Pathfinder,bca411af-6dc8-9082-bc16-7022cd2040ac
294,b9a1fda2-e280-f667-447e-4f134e815912,Mark,Pruzanski,da13137c-f19c-b368-8bdf-1e295532bae7,Intercept Pharmaceuticals,NaN,NaN,1,Founder & CEO,Intercept Pharmaceuticals,4819a9c4-4cc1-4275-cea7-1dbbd8d303a1
295,a3435119-890a-8104-3c23-ccb9ac5b6ff6,Wei-Wu,He,da3f4e76-678e-d998-afdb-cafeb01741f7,Origene Technologies,NaN,NaN,1,Founder & CEO,Origene Technologies,c37b1c16-36bf-17ec-ec82-8ff5a65c6d2e
296,13317740-fba8-ed9c-6dea-b9782bebcb1d,Tony,Evnin,baa8938c-bd03-3a6d-cc9c-0f3de60eb892,Memorial Sloan - Kettering Cancer Center,NaN,NaN,1,Member of Boards of Overseers,Memorial Sloan - Kettering Cancer Center,11d72be9-da21-9caf-438c-d3202cffbf64

Далее те, что без ссылок

In [27]:
fund_jobs = fund_jobs.loc[fund_jobs['linkedin_url'] == '-']
fund_jobs = fund_jobs.merge(jobs, how = 'left', on = 'person_uuid')
fund_jobs = fund_jobs.merge(people[['uuid', 'primary_affiliation_organization']], how = 'left', left_on = 'person_uuid', right_on = 'uuid')
fund_jobs = fund_jobs.merge(organizations[['company_name', 'uuid']], how = 'left', left_on = 'org_uuid', right_on = 'uuid')
fund_jobs = fund_jobs[['person_uuid', 'first_name', 'last_name', 'org_uuid', 'company_name', 'started_on', 'ended_on', 'is_current', 'title', 'primary_affiliation_organization', 'job_uuid']]
fund_jobs = fund_jobs.drop_duplicates().reset_index(drop=True)
fund_jobs.loc[fund_jobs['is_current'] == 'f', 'is_current'] = 0
fund_jobs.loc[fund_jobs['is_current'] == 't', 'is_current'] = 1
fund_jobs = fund_jobs.sort_values(by = ['person_uuid'], ascending = False)
fund_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
4708,ffdc517c-ca48-4674-9b8b-4635a36b72af,Bobby,Vedral,30b3efdf-6024-804d-ea55-c4d1a8dfc86c,Goldman Sachs,NaN,NaN,1,Partner,NaN,d5e6bc0b-d991-4ecb-8036-f2133927bd19
4707,ffd575b0-4b1a-ebff-73ba-5dc7c2e9743f,Niki,Pezeshki,735a53c6-a7ba-2434-d97d-b788536da89d,Felicis Ventures,2017-12-01,NaN,1,"VP, Investment Team",Felicis Ventures,13273f91-8d67-413b-891d-6960fc6ae1bb
4706,ffd575b0-4b1a-ebff-73ba-5dc7c2e9743f,Niki,Pezeshki,735a53c6-a7ba-2434-d97d-b788536da89d,Felicis Ventures,NaN,NaN,0,Senior Associate,Felicis Ventures,637a94f2-ef76-fc9d-3863-61a23d56958a
4705,ff4724a6-1dfc-ca67-52fa-683df09386ce,Rajeev,Gupta,866e4026-e0e4-21e2-e94a-35054a794cab,GeckoLife,2011-06-01,NaN,0,Founder & Co-CEO,Alium Capital,7798a476-37be-d37a-8c5e-7bd8c4f95484
4704,ff4724a6-1dfc-ca67-52fa-683df09386ce,Rajeev,Gupta,faabd181-1a2e-8494-5454-0d2e066638c7,Tribeca Global Investments,2004-01-01,2010-01-01,0,Director,Alium Capital,950537e0-7a7b-6661-60a2-f095833a42a6
...,...,...,...,...,...,...,...,...,...,...,...
1,00c10651-6e26-4d0b-3ec8-6e43c8a7ca9b,Chris,Steiner,4791bb73-2eff-bd6f-bdcd-232f7d2ed445,KPMG,NaN,NaN,0,Auditor,Bypass Mobile,f636e345-614c-cec1-3039-5ae9a044e444
6,00c10651-6e26-4d0b-3ec8-6e43c8a7ca9b,Chris,Steiner,a8913c96-af74-d845-0fd4-de742f725a4c,Lion Street,2012-10-01,NaN,1,Board of Directors,Bypass Mobile,5b1b2fd0-3ac3-f74c-69fa-8f68cc624bcd
7,00c10651-6e26-4d0b-3ec8-6e43c8a7ca9b,Chris,Steiner,fe9364b2-e716-74e6-ebc8-4f91cfe6b9f3,Flow Ventures,2009-03-01,NaN,1,Board of Advisors,Bypass Mobile,3ab60ed8-e290-1472-b61a-d5768e9f97f8
8,00c10651-6e26-4d0b-3ec8-6e43c8a7ca9b,Chris,Steiner,28671c31-7d1e-f758-3ff9-a4bd1e6a19b9,Wind Point Partners,NaN,NaN,0,Summer Associate,Bypass Mobile,0e799088-2043-5e59-881c-5621d2c5cc45
0,000344fb-6e07-d88b-1608-593f005d38f3,Kevin,Clancy,6f2acf2a-5cbf-adb1-cbb4-5829ab0b08cd,Atlas Venture,NaN,NaN,0,Analyst,NaN,65a5824e-bef8-c98b-c392-733f95089d7a

Итак, это список всех работ людей, для которых нет ссылки на LinkedIn

Шаг 1: берем все чистые, с 1 местом работы

In [28]:
a = fund_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_jobs')
b = a.loc[a['number_of_jobs'] == 1]
fund_jobs_1 = fund_jobs.loc[fund_jobs['person_uuid'].isin(b['person_uuid'])]
len(fund_jobs_1)

383

Шаг 2: смотрим всех остальных. Из них смотрим на актуальность работы (поле is_current)

In [29]:
b = a.loc[a['number_of_jobs'] > 1]
c = fund_jobs.loc[fund_jobs['person_uuid'].isin(b['person_uuid'])].sort_values(by = ['person_uuid'], ascending = False)
c = c.groupby(['person_uuid'])['is_current'].agg(['sum']).reset_index()
set(c['sum'].values)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22}

То есть существует три варианта:  
1 - люди с одной и только одной актуальной работой (берем сразу эти айдишники с условием is_current==1)  
0 - все должности неактуальны, надо смотреть вручную по годам и по смыслу  
более 1 - актуальны несколько должностей, надо смотреть по логике вручную

Это строчки с 1 актуальной работой

In [30]:
d = c.loc[c['sum'] == 1]
fund_jobs_2 = fund_jobs.loc[(fund_jobs['person_uuid'].isin(d['person_uuid'])) & (fund_jobs['is_current'] == 1)]
fund_jobs_2 = fund_jobs_2.sort_values(by = ['person_uuid'], ascending = False)
len(fund_jobs_2)

208

Теперь строчки с 0 актуальных работ у людей, у которых есть четкие даты начала

In [31]:
d = c.loc[c['sum'] == 0]
fund_jobs_3 = fund_jobs.loc[fund_jobs['person_uuid'].isin(d['person_uuid'])]
fund_jobs_3 = fund_jobs_3.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
fund_jobs_3_1 = fund_jobs_3.loc[~fund_jobs_3['started_on'].isin(w)]
e = set(fund_jobs_3_1['person_uuid'].values)
fund_jobs_3_1['started_on'] = pd.to_datetime(fund_jobs_3_1['started_on'])
fund_jobs_3_1 = fund_jobs_3_1.loc[fund_jobs_3_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(fund_jobs_3_1)

14

In [32]:
fund_jobs_3_2 = fund_jobs_3.loc[~fund_jobs_3['person_uuid'].isin(e)]
fund_jobs_3_2_1 = fund_jobs_3_2.loc[fund_jobs_3_2['company_name'] == fund_jobs_3_2['primary_affiliation_organization']]
q = fund_jobs_3_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
fund_jobs_3_2_1 = fund_jobs_3_2_1.loc[fund_jobs_3_2_1['person_uuid'].isin(w)]
len(fund_jobs_3_2_1)

0

Теперь остальные неактуальные должности, но с пропусками в датах. Выбраны вручную:

In [33]:
fund_jobs_3_2_2 = fund_jobs_3_2.loc[~fund_jobs_3_2['person_uuid'].isin(w)]
#fund_jobs_3_2_2.to_csv('fund_jobs_3_2_2.csv')

In [34]:
q = pd.read_csv('./manually_selected_data/manual3.csv')
fund_jobs_3_2_2 = fund_jobs_3_2_2[fund_jobs_3_2_2['job_uuid'].isin(q['job_uuid'])]
len(fund_jobs_3_2_2)

17

Теперь те, у кого несколько активных должностей. Сначала - с четкими датами, то есть по старшинству старта должности:

In [35]:
d = c.loc[c['sum'] > 1]
fund_jobs_4 = fund_jobs.loc[(fund_jobs['person_uuid'].isin(d['person_uuid'])) & (fund_jobs['is_current'] == 1)]
fund_jobs_4 = fund_jobs_4.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
fund_jobs_4_1 = fund_jobs_4.loc[~fund_jobs_4['started_on'].isin(w)]
e = set(fund_jobs_4_1['person_uuid'].values)
fund_jobs_4_1['started_on'] = pd.to_datetime(fund_jobs_4_1['started_on'])
fund_jobs_4_1 = fund_jobs_4_1.loc[fund_jobs_4_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(fund_jobs_4_1)

257

Остальных выбрали вручную:

In [36]:
fund_jobs_4_2 = fund_jobs_4.loc[~fund_jobs_4['person_uuid'].isin(e)]
fund_jobs_4_2_1 = fund_jobs_4_2.loc[fund_jobs_4_2['company_name'] == fund_jobs_4_2['primary_affiliation_organization']]
q = fund_jobs_4_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
fund_jobs_4_2_1 = fund_jobs_4_2_1.loc[fund_jobs_4_2_1['person_uuid'].isin(w)]
len(fund_jobs_4_2_1)

178

In [37]:
fund_jobs_4_2_2 = fund_jobs_4_2.loc[~fund_jobs_4_2['person_uuid'].isin(w)]
#fund_jobs_4_2_2.to_csv('fund_jobs_4_2_2.csv')

In [38]:
q = pd.read_csv('./manually_selected_data/manual4.csv')
fund_jobs_4_2_2 = fund_jobs_4_2_2[fund_jobs_4_2_2['job_uuid'].isin(q['job_uuid'])]
len(fund_jobs_4_2_2)

14

Сконкатенируем все датасеты для получения общего с уникальными людьми и наиболее актуальными местами работы:

In [39]:
nonli_fund_jobs = pd.concat([fund_jobs_1, fund_jobs_2, fund_jobs_3_1, fund_jobs_3_2_1, fund_jobs_3_2_2, fund_jobs_4_1, fund_jobs_4_2_1, fund_jobs_4_2_2]).drop_duplicates().reset_index(drop=True)
nonli_fund_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
0,ffdc517c-ca48-4674-9b8b-4635a36b72af,Bobby,Vedral,30b3efdf-6024-804d-ea55-c4d1a8dfc86c,Goldman Sachs,NaN,NaN,1,Partner,NaN,d5e6bc0b-d991-4ecb-8036-f2133927bd19
1,fee6ccf9-a7fa-86ce-31c8-829e60515601,Eric,Soller,5a79290b-01b0-156d-8a54-214a9706b818,Versant Ventures,2016-08-01,NaN,1,Entrepreneur in Residence,Versant Ventures,cc1b5446-8f34-4bfc-c364-6b079eae6f90
2,fec2a847-aff7-491f-adad-c9a03d13c20e,Kamil,Choudhury,30b3efdf-6024-804d-ea55-c4d1a8dfc86c,Goldman Sachs,NaN,NaN,0,Vice President,NaN,418e2e87-0ddc-4281-8092-58835cb39b66
3,fd6f387b-6cc3-2c06-989f-0be297256835,Philip,Austin,6f2acf2a-5cbf-adb1-cbb4-5829ab0b08cd,Atlas Venture,NaN,NaN,0,Analyst,NaN,0432e6ea-c120-a309-cf41-b00bad643f02
4,fd2dde28-6658-6471-2b69-aec37dbe0d14,Jeff,Hennion,63c7df51-628a-6068-ad71-a96bf4993707,Compound,NaN,NaN,1,Advisor,Compound,deb8f97b-1668-39a9-2e97-f60773468806
...,...,...,...,...,...,...,...,...,...,...,...
1066,59288a1d-f3c4-7fd6-93b9-d8a15163ab41,Gary,Cohn,30b3efdf-6024-804d-ea55-c4d1a8dfc86c,Goldman Sachs,NaN,NaN,1,"President, Chief Operating Officer",Goldman Sachs,aa055517-02c7-2397-1a14-b949bd3adf4d
1067,58474799-9045-a421-4ae6-258733c74f5a,Jeffrey,Miller,f6deb5eb-2db4-f2c6-8c70-e59642653d90,Movaris,NaN,NaN,1,Board Memner,Movaris,3f20ccff-d518-6664-b2e3-af0d4b5b2a7b
1068,32050356-f4e1-431b-bf84-55e011d58df3,Bill,Coughran,0c867fde-2b9a-df10-fdb9-66b74f355f91,Sequoia Capital,NaN,NaN,1,Partner,NaN,e718d15d-c025-4a91-8a5c-0a1da728b574
1069,2ca6ff7d-006c-fdb8-ab41-9d4e21fe62d4,Arnold,Levine,77fafa9b-faec-1193-4f12-a1ae67319f8a,PMV Pharmaceutcals,NaN,NaN,1,Co-Founder,PMV Pharmaceutcals,0ff60a19-edee-6dc9-04c2-2ddfa972105d
1070,197a318d-bb10-0d08-5b31-e99e6ee62909,Edward,Bernard,6d0363b8-edcf-07d2-dc50-cc15adda3ede,T. Rowe Price,NaN,NaN,1,Board of Directors,T. Rowe Price,eba2340f-ed62-a171-7c16-fd5a5bec00bc

In [40]:
fund_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_people')

                               person_uuid  number_of_people
0     000344fb-6e07-d88b-1608-593f005d38f3                 1
1     00c10651-6e26-4d0b-3ec8-6e43c8a7ca9b                 8
2     01405a61-2856-e72b-fc0c-3e7ffbe0eaa1                14
3     01632a94-81a1-9ea5-94ae-d1d94450063a                 2
4     018a7ff6-ab10-8e97-5740-a2e5b86a4bbf                 1
...                                    ...               ...
1066  fee6ccf9-a7fa-86ce-31c8-829e60515601                 1
1067  fef530ad-6928-b802-4f0d-327212dac743                 8
1068  ff4724a6-1dfc-ca67-52fa-683df09386ce                 6
1069  ffd575b0-4b1a-ebff-73ba-5dc7c2e9743f                 2
1070  ffdc517c-ca48-4674-9b8b-4635a36b72af                 1

[1071 rows x 2 columns]

Количество уникальных людей сошлось!

### Посмотрим списки CEO и прочих

In [41]:
startup_jobs = jobs.loc[jobs['org_uuid'].isin(company_list['company_uuid'])]
startup_employee = set(startup_jobs['person_uuid'].values)
len(startup_employee)

12627

Это все люди, относящиеся к выбранным стартапам.

In [42]:
len(startup_jobs)

14615

Столько всего позиций/должности, относящиеся к выбранным стартапам

In [43]:
len(set(startup_jobs['title'].values))

5764

Всего у нас 11649 (было 5785) уникальных должностей. Выберем из них самые важные, относящиеся к руководству компании

In [44]:
selected_startup_jobs = pd.read_excel('./manually_selected_data/selected_startup_jobs.xlsx')
selected_startup_jobs

                            selected_titles
0             Co-Led Syndicated Investments
1      Chief Science and Technology Officer
2                   Director of Engineering
3      Chief Product and Technology Officer
4                       Director of Finance
...                                     ...
1100                      VP, Finance / CFO
1101  VP, Product Management and Co-founder
1102                 VP, R&D & Co - Founder
1103                         VP, Technology
1104                         VP,Engineering

[1105 rows x 1 columns]

In [45]:
startup_jobs = jobs.loc[jobs['org_uuid'].isin(company_list['company_uuid'])]
startup_jobs = startup_jobs.loc[startup_jobs['title'].isin(selected_startup_jobs['selected_titles'])]
startup_jobs = startup_jobs.merge(people, how = 'left', left_on = 'person_uuid', right_on = 'uuid')
startup_jobs['linkedin_url'] = startup_jobs['linkedin_url'].replace(np.nan, '-')
startup_jobs = startup_jobs.groupby(['person_uuid', 'first_name', 'last_name', 'linkedin_url']).size().reset_index(name = 'count')
startup_jobs = startup_jobs[['person_uuid', 'first_name', 'last_name', 'linkedin_url']]
linkedin_startup_jobs = startup_jobs.loc[startup_jobs['linkedin_url'] != '-']
linkedin_startup_jobs

,person_uuid,first_name,last_name,linkedin_url
0,001b4805-f0a4-04f9-a4bd-3dd85f37d551,Sudhir,Krishnaswamy,http://www.linkedin.com/profile/view?id=987051
1,001e860c-6579-9835-b294-af1a65842ca9,Evan,Rifkin,http://www.linkedin.com/in/evanrifkin
2,0023bf7f-5417-04f4-85cf-5bb078576a57,Jaynie,Studenmund,https://www.linkedin.com/in/jaynie-miller-studenmund-680a4523
3,0026bf40-8f42-87e2-b371-978055165959,Josh,Elman,http://www.linkedin.com/in/joshe
4,0029836e-5dec-d285-c440-00d33464ede2,Vipul Ved,Prakash,http://www.linkedin.com/in/vipulved
...,...,...,...,...
5222,ffbde8a6-d828-b2fb-c285-729ad1733c15,Richard,Schooler,http://www.linkedin.com/in/richardschooler
5223,ffc0cf5d-5faa-70b7-858a-582c3291ff45,Mark,Findeis,http://www.linkedin.com/company/connaxis
5224,ffd2285d-cda7-30de-2ae2-c37b7956ecd4,Christopher,Ryan,https://www.linkedin.com/in/cmryan
5225,ffdfc425-c8da-8a83-32d5-e64d18166bd1,Shlomo,Kramer,http://www.linkedin.com/in/shlomokramer
5226,fff3412c-3646-5d39-1ac7-b5aa6a5e6008,Neal,East,http://www.linkedin.com/in/nealeast

In [46]:
###Сломанные###
broken = pd.read_excel('./manually_selected_data/broken_links.xlsx')
bbroken_jobs = startup_jobs.loc[startup_jobs['person_uuid'].isin(broken['person_uuid'].values)]
bbroken_jobs = bbroken_jobs.merge(jobs, how = 'left', on = 'person_uuid')
bbroken_jobs = bbroken_jobs.merge(people[['uuid', 'primary_affiliation_organization']], how = 'left', left_on = 'person_uuid', right_on = 'uuid')
bbroken_jobs = bbroken_jobs.merge(organizations[['company_name', 'uuid']], how = 'left', left_on = 'org_uuid', right_on = 'uuid')
bbroken_jobs = bbroken_jobs[['person_uuid', 'first_name', 'last_name', 'org_uuid', 'company_name', 'started_on', 'ended_on', 'is_current', 'title', 'primary_affiliation_organization', 'job_uuid']]
bbroken_jobs = bbroken_jobs.drop_duplicates().reset_index(drop=True)
bbroken_jobs.loc[bbroken_jobs['is_current'] == 'f', 'is_current'] = 0
bbroken_jobs.loc[bbroken_jobs['is_current'] == 't', 'is_current'] = 1
bbroken_jobs = bbroken_jobs.sort_values(by = ['person_uuid'], ascending = False)
bbroken_jobs
###Сломанные###

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
1716,fecaa111-ae68-960b-48b8-282be2a34cee,Matt,Sonsini,c51db1ce-47f5-5263-38e3-35e2de55b002,American Bar Association,NaN,NaN,0,Chairman of the Board of Directors,The Sobrato Organization,1ed45862-5594-dc97-438e-58e76567558d
1715,fecaa111-ae68-960b-48b8-282be2a34cee,Matt,Sonsini,fe9cf712-d3d4-7c73-9ed6-e09bdb148b63,The Sobrato Organization,NaN,NaN,0,Chief Operating Officer,The Sobrato Organization,2a6553c4-8022-425f-7410-36d6c9520861
1714,fecaa111-ae68-960b-48b8-282be2a34cee,Matt,Sonsini,fe9cf712-d3d4-7c73-9ed6-e09bdb148b63,The Sobrato Organization,NaN,NaN,1,Chief Investment Officer,The Sobrato Organization,3f75f33d-5ed3-bc51-3702-d720edcae0a8
1713,fecaa111-ae68-960b-48b8-282be2a34cee,Matt,Sonsini,82d99bb9-1178-9c64-b2a4-d0403104c80b,SecondMarket,NaN,NaN,0,Member of the Board of Advisors,The Sobrato Organization,4a674cdd-a599-e549-cd55-f3720911bc4e
1712,fecaa111-ae68-960b-48b8-282be2a34cee,Matt,Sonsini,897604ea-925e-41c6-a0a1-aeaca56b160f,Latham & Watkins,NaN,NaN,0,Team Member,The Sobrato Organization,8273ae36-66e7-585f-02f2-746a1c78cad6
...,...,...,...,...,...,...,...,...,...,...,...
13,03153e2f-22ee-f1fb-afaa-b9cc2a1f388c,Matthew,King,6714bea5-ca3a-812f-69e5-0f81713a3515,NuScriptRx,NaN,NaN,1,Board Member,Clayton Associates,4027f7fe-2cc2-0839-9f34-3e50e6e35d04
14,03153e2f-22ee-f1fb-afaa-b9cc2a1f388c,Matthew,King,75f7c49e-8575-bd7c-8b5a-0ea5783e5d2d,Clayton Associates,NaN,NaN,1,Managing Partner,Clayton Associates,252055ed-e601-6de6-1f48-1dbe2b36ccfa
15,03153e2f-22ee-f1fb-afaa-b9cc2a1f388c,Matthew,King,76f74f35-c5bd-0a43-ef50-708d009b6a9e,Silvercare Solutions,NaN,NaN,1,Board Member,Clayton Associates,0bcb0121-2b72-93cc-5bc5-7901b743c160
16,03153e2f-22ee-f1fb-afaa-b9cc2a1f388c,Matthew,King,3c2612f3-b932-e2d8-b5bf-7962503dd468,FCA Venture Partners,NaN,NaN,1,Managing Partner,Clayton Associates,07879900-fbb2-3424-a453-38b0c3aefee5
0,03153e2f-22ee-f1fb-afaa-b9cc2a1f388c,Matthew,King,e149072d-5eea-f563-610a-836773ca6681,HCCA International,NaN,NaN,1,Board Observer,Clayton Associates,f511a934-3110-6bbe-0545-41706a641953

In [47]:
a = bbroken_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_jobs')
b = a.loc[a['number_of_jobs'] == 1]
bbroken_jobs_1 = bbroken_jobs.loc[bbroken_jobs['person_uuid'].isin(b['person_uuid'])]
len(bbroken_jobs_1)

27

In [48]:
b = a.loc[a['number_of_jobs'] > 1]
c = bbroken_jobs.loc[bbroken_jobs['person_uuid'].isin(b['person_uuid'])].sort_values(by = ['person_uuid'], ascending = False)
c = c.groupby(['person_uuid'])['is_current'].agg(['sum']).reset_index()
set(c['sum'].values)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 24}

In [49]:
d = c.loc[c['sum'] == 1]
bbroken_jobs_2 = bbroken_jobs.loc[(bbroken_jobs['person_uuid'].isin(d['person_uuid'])) & (bbroken_jobs['is_current'] == 1)]
bbroken_jobs_2 = bbroken_jobs_2.sort_values(by = ['person_uuid'], ascending = False)
len(bbroken_jobs_2)

45

In [50]:
d = c.loc[c['sum'] == 0]
bbroken_jobs_3 = bbroken_jobs.loc[bbroken_jobs['person_uuid'].isin(d['person_uuid'])]
bbroken_jobs_3 = bbroken_jobs_3.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
bbroken_jobs_3_1 = bbroken_jobs_3.loc[~bbroken_jobs_3['started_on'].isin(w)]
e = set(bbroken_jobs_3_1['person_uuid'].values)
bbroken_jobs_3_1['started_on'] = pd.to_datetime(bbroken_jobs_3_1['started_on'])
bbroken_jobs_3_1 = bbroken_jobs_3_1.loc[bbroken_jobs_3_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(bbroken_jobs_3_1)

5

In [51]:
bbroken_jobs_3_2 = bbroken_jobs_3.loc[~bbroken_jobs_3['person_uuid'].isin(e)]
bbroken_jobs_3_2_1 = bbroken_jobs_3_2.loc[bbroken_jobs_3_2['company_name'] == bbroken_jobs_3_2['primary_affiliation_organization']]
q = bbroken_jobs_3_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
bbroken_jobs_3_2_1 = bbroken_jobs_3_2_1.loc[bbroken_jobs_3_2_1['person_uuid'].isin(w)]
len(bbroken_jobs_3_2_1)

0

In [52]:
bbroken_jobs_3_2_2 = bbroken_jobs_3_2.loc[~bbroken_jobs_3_2['person_uuid'].isin(w)]
#bbroken_jobs_3_2_2.to_csv('bbroken_jobs_3_2_2.csv')

In [53]:
q = pd.read_csv('./manually_selected_data/manual5s.csv')
bbroken_jobs_3_2_2 = bbroken_jobs_3_2_2[bbroken_jobs_3_2_2['job_uuid'].isin(q['job_uuid'])]
len(bbroken_jobs_3_2_2)

2

In [54]:
d = c.loc[c['sum'] > 1]
bbroken_jobs_4 = bbroken_jobs.loc[(bbroken_jobs['person_uuid'].isin(d['person_uuid'])) & (bbroken_jobs['is_current'] == 1)]
bbroken_jobs_4 = bbroken_jobs_4.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
bbroken_jobs_4_1 = bbroken_jobs_4.loc[~bbroken_jobs_4['started_on'].isin(w)]
e = set(bbroken_jobs_4_1['person_uuid'].values)
bbroken_jobs_4_1['started_on'] = pd.to_datetime(bbroken_jobs_4_1['started_on'])
bbroken_jobs_4_1 = bbroken_jobs_4_1.loc[bbroken_jobs_4_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(bbroken_jobs_4_1)

104

In [55]:
bbroken_jobs_4_2 = bbroken_jobs_4.loc[~bbroken_jobs_4['person_uuid'].isin(e)]
bbroken_jobs_4_2_1 = bbroken_jobs_4_2.loc[bbroken_jobs_4_2['company_name'] == bbroken_jobs_4_2['primary_affiliation_organization']]
q = bbroken_jobs_4_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
bbroken_jobs_4_2_1 = bbroken_jobs_4_2_1.loc[bbroken_jobs_4_2_1['person_uuid'].isin(w)]
len(bbroken_jobs_4_2_1)

34

In [56]:
bbroken_jobs_4_2_2 = bbroken_jobs_4_2.loc[~bbroken_jobs_4_2['person_uuid'].isin(w)]
#bbroken_jobs_4_2_2.to_csv('bbroken_jobs_4_2_2.csv')

In [57]:
q = pd.read_csv('./manually_selected_data/manual6s.csv')
bbroken_jobs_4_2_2 = bbroken_jobs_4_2_2[bbroken_jobs_4_2_2['job_uuid'].isin(q['job_uuid'])]
len(bbroken_jobs_4_2_2)

10

In [58]:
bbroken_jobs = pd.concat([bbroken_jobs_1, bbroken_jobs_2, bbroken_jobs_3_1, bbroken_jobs_3_2_1, bbroken_jobs_3_2_2, bbroken_jobs_4_1, bbroken_jobs_4_2_1, bbroken_jobs_4_2_2]).drop_duplicates().reset_index(drop=True)
bbroken_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
0,f5685ba8-ab57-25ed-78e3-92fc348fa9f6,Glen,Margolis,28e6fc23-0881-492c-1c53-2c303ce82137,Steelwedge Software,NaN,NaN,1,Founder and Executive Chairman,Steelwedge Software,125feab0-ab0e-3443-d605-68b143ce500e
1,f43a88ff-6195-0783-1966-c42a5c86e347,Henry,H. Hsu,cedb849f-7d11-a2d0-d795-f07864d97739,Altheos,NaN,NaN,0,"Co-Founder, CEO & Director",NaN,19202466-64b4-1f66-3aca-ca6bebbe5db8
2,ed2bb9a5-699c-abc7-1c7e-19ac0306ba76,Victor,Shtrom,a4032bb5-baca-d5ca-cc23-145255e7c6ba,Ruckus Wireless,2002-01-01,2015-01-01,0,"Co-Founder, Chief Wireless Architect",NaN,c468b473-daf9-b4a8-e4df-01f00315a41a
3,e25f1e72-a0b5-1572-e86a-a52fa5c8ae9f,Tom,Steinke,bb5aa001-34a9-9543-61d0-38644bbeb065,Vessix Vascular,NaN,NaN,1,Founder,Vessix Vascular,f9a11635-0c4d-b8eb-8a2f-b309eca75d94
4,debeee79-4693-5382-6f0f-8d85687df87c,Konrad,Feldman,8754aa07-6a53-aea5-fd0a-6f82c9191d1d,Quantcast,NaN,NaN,1,Co-Founder & CEO,Quantcast,5c1f7baa-6517-7c76-76be-2d0cf1b31708
...,...,...,...,...,...,...,...,...,...,...,...
222,ab6e59e9-163d-5a50-a0a3-b30e7d822d72,Hans,Bishop,ff429091-2166-c3b5-409d-6e779fee09f5,Juno Therapeutics,NaN,NaN,1,CEO,Juno Therapeutics,3fdfd776-b8a4-b6a5-abd6-a74dc3dc2311
223,767846ae-f695-72b5-ba65-f9e50cebf800,Dave,Duffield,b9d62289-d55f-2692-f290-1433172f8289,Workday,NaN,NaN,1,"Co-founder, co-CEO and Chief Customer Advocate",Workday,a3dc4afa-a1cd-4e66-c65c-005e5728f791
224,5ccfa9c5-3c80-596f-9e4a-f76b1a12047e,Cindy,Whitehead,854cab53-9557-5930-7888-a977dcb4fd2e,Sprout Pharmaceuticals,NaN,NaN,1,Co-Founder & Chief Executive Officer,Sprout Pharmaceuticals,96bbf484-d4b6-1c79-cdc6-dfc430eb9bd1
225,4756138c-09a0-b438-ea64-a1842373d33e,Jeffrey,Harris,d964e925-a212-7649-cec9-9b19642e399e,Otonomy,NaN,NaN,1,Co-Founder,Otonomy,32ca8641-38cf-cb3d-c091-a88b1e99184c
226,13317740-fba8-ed9c-6dea-b9782bebcb1d,Tony,Evnin,baa8938c-bd03-3a6d-cc9c-0f3de60eb892,Memorial Sloan - Kettering Cancer Center,NaN,NaN,1,Member of Boards of Overseers,Memorial Sloan - Kettering Cancer Center,11d72be9-da21-9caf-438c-d3202cffbf64

И далее

In [59]:
startup_jobs = startup_jobs.loc[startup_jobs['linkedin_url'] == '-']
startup_jobs = startup_jobs.merge(jobs, how = 'left', on = 'person_uuid')
startup_jobs = startup_jobs.merge(people[['uuid', 'primary_affiliation_organization']], how = 'left', left_on = 'person_uuid', right_on = 'uuid')
startup_jobs = startup_jobs.merge(organizations[['company_name', 'uuid']], how = 'left', left_on = 'org_uuid', right_on = 'uuid')
startup_jobs = startup_jobs[['person_uuid', 'first_name', 'last_name', 'org_uuid', 'company_name', 'started_on', 'ended_on', 'is_current', 'title', 'primary_affiliation_organization', 'job_uuid']]
startup_jobs = startup_jobs.drop_duplicates().reset_index(drop=True)
startup_jobs.loc[startup_jobs['is_current'] == 'f', 'is_current'] = 0
startup_jobs.loc[startup_jobs['is_current'] == 't', 'is_current'] = 1
startup_jobs = startup_jobs.sort_values(by = ['person_uuid'], ascending = False)
startup_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
4949,ff6a5f52-63b1-0d87-4898-3b0bc4742d25,Joe,Rizzi,5fefd737-2239-a8ad-e13a-87b977613fdd,Jupiter Research Foundation,2003-01-01,NaN,1,President,Jupiter Research Foundation,05f6ce37-0d33-ea86-c26e-9bccde85a4b1
4948,ff6a5f52-63b1-0d87-4898-3b0bc4742d25,Joe,Rizzi,4b3ee496-9fd7-229a-80a5-588e7e0dd620,Liquid Robotics,2007-01-01,NaN,1,Chairman,Jupiter Research Foundation,919c4172-414b-e368-b128-910e77ccaa5a
4947,ff6a5f52-63b1-0d87-4898-3b0bc4742d25,Joe,Rizzi,5fefd737-2239-a8ad-e13a-87b977613fdd,Jupiter Research Foundation,2003-01-01,NaN,1,Chairman/President,Jupiter Research Foundation,a1d8fa71-8cde-8939-58b7-abaf370681c0
4946,ff6a5f52-63b1-0d87-4898-3b0bc4742d25,Joe,Rizzi,5fefd737-2239-a8ad-e13a-87b977613fdd,Jupiter Research Foundation,2003-01-01,NaN,1,Chairman,Jupiter Research Foundation,e3e4f4de-fdbf-7d14-a9f6-6496eb5f942c
4945,ff54a439-e016-240d-1e50-941af24c7d56,Steve,Raymond,75e76c56-3026-404d-079d-be335a63d9ff,Popcap Games,2010-05-25,NaN,1,Director,Popcap Games,ce9982be-310c-8c4a-75b2-e08532b4633d
...,...,...,...,...,...,...,...,...,...,...,...
3,0069e8ef-54f7-1788-4d6a-0ce75ae2bbfc,Lawrence,Blatt,003db359-568d-3a2e-e5ce-f12bd4f95e9b,SIRNA,1998-01-01,2002-01-01,0,Vice President of Research,Alios BioPharma,d940be40-6ebf-106c-745e-9b46efb1e5ba
1,0069e8ef-54f7-1788-4d6a-0ce75ae2bbfc,Lawrence,Blatt,1a4eb896-e26b-d203-81a6-7b80dd2d3b21,National Genetics Institute,1996-01-01,1998-01-01,0,"Vice President, Product Development",Alios BioPharma,fae50f74-6f30-b169-8661-b7a799c26958
5,0069e8ef-54f7-1788-4d6a-0ce75ae2bbfc,Lawrence,Blatt,16455c65-7da9-85b1-7c2b-92c4ed4e2a0c,Amgen Ventures,NaN,NaN,0,"Head of Interferon Research, Development Team Leader",Alios BioPharma,54d67945-bfd0-5a92-d05c-518b5d2fcb38
6,0069e8ef-54f7-1788-4d6a-0ce75ae2bbfc,Lawrence,Blatt,98717655-0a4f-4528-b553-623e32f9954e,Alveo Technologies,NaN,NaN,1,Chairman of the Board of Directors,Alios BioPharma,4828b43a-8e46-4b09-90d7-a4b7edd88eab
0,002f79b2-baf6-d512-ef43-4f3dfc020510,Marie-Anne,Neimat,8a588135-3d5b-ced3-bcb6-73107c87dfa8,Aerospike,NaN,NaN,1,Advisor,Aerospike,163cfa84-90fe-4591-84a7-064154da67ed

In [60]:
a = startup_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_jobs')
b = a.loc[a['number_of_jobs'] == 1]
startup_jobs_1 = startup_jobs.loc[startup_jobs['person_uuid'].isin(b['person_uuid'])]
len(startup_jobs_1)

483

In [61]:
b = a.loc[a['number_of_jobs'] > 1]
c = startup_jobs.loc[startup_jobs['person_uuid'].isin(b['person_uuid'])].sort_values(by = ['person_uuid'], ascending = False)
c = c.groupby(['person_uuid'])['is_current'].agg(['sum']).reset_index()
set(c['sum'].values)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 22}

In [62]:
d = c.loc[c['sum'] == 1]
startup_jobs_2 = startup_jobs.loc[(startup_jobs['person_uuid'].isin(d['person_uuid'])) & (startup_jobs['is_current'] == 1)]
startup_jobs_2 = startup_jobs_2.sort_values(by = ['person_uuid'], ascending = False)
len(startup_jobs_2)

193

In [63]:
d = c.loc[c['sum'] == 0]
startup_jobs_3 = startup_jobs.loc[startup_jobs['person_uuid'].isin(d['person_uuid'])]
startup_jobs_3 = startup_jobs_3.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
startup_jobs_3_1 = startup_jobs_3.loc[~startup_jobs_3['started_on'].isin(w)]
e = set(startup_jobs_3_1['person_uuid'].values)
startup_jobs_3_1['started_on'] = pd.to_datetime(startup_jobs_3_1['started_on'])
startup_jobs_3_1 = startup_jobs_3_1.loc[startup_jobs_3_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(startup_jobs_3_1)

24

In [64]:
startup_jobs_3_2 = startup_jobs_3.loc[~startup_jobs_3['person_uuid'].isin(e)]
startup_jobs_3_2_1 = startup_jobs_3_2.loc[startup_jobs_3_2['company_name'] == startup_jobs_3_2['primary_affiliation_organization']]
q = startup_jobs_3_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
startup_jobs_3_2_1 = startup_jobs_3_2_1.loc[startup_jobs_3_2_1['person_uuid'].isin(w)]
len(startup_jobs_3_2_1)

0

In [65]:
startup_jobs_3_2_2 = startup_jobs_3_2.loc[~startup_jobs_3_2['person_uuid'].isin(w)]
#startup_jobs_3_2_2.to_csv('startup_jobs_3_2_2.csv')

In [66]:
q = pd.read_csv('./manually_selected_data/manual3s.csv')
startup_jobs_3_2_2 = startup_jobs_3_2_2[startup_jobs_3_2_2['job_uuid'].isin(q['job_uuid'])]
len(startup_jobs_3_2_2)

2

In [67]:
d = c.loc[c['sum'] > 1]
startup_jobs_4 = startup_jobs.loc[(startup_jobs['person_uuid'].isin(d['person_uuid'])) & (startup_jobs['is_current'] == 1)]
startup_jobs_4 = startup_jobs_4.sort_values(by = ['person_uuid'], ascending = False)
w = [np.nan]
startup_jobs_4_1 = startup_jobs_4.loc[~startup_jobs_4['started_on'].isin(w)]
e = set(startup_jobs_4_1['person_uuid'].values)
startup_jobs_4_1['started_on'] = pd.to_datetime(startup_jobs_4_1['started_on'])
startup_jobs_4_1 = startup_jobs_4_1.loc[startup_jobs_4_1.groupby(['person_uuid'])['started_on'].idxmax()]
len(startup_jobs_4_1)

235

In [68]:
startup_jobs_4_2 = startup_jobs_4.loc[~startup_jobs_4['person_uuid'].isin(e)]
startup_jobs_4_2_1 = startup_jobs_4_2.loc[startup_jobs_4_2['company_name'] == startup_jobs_4_2['primary_affiliation_organization']]
q = startup_jobs_4_2_1.groupby(['person_uuid']).size().reset_index(name = 'count')
w = q.loc[q['count'] == 1]
w = set(w['person_uuid'].values)
startup_jobs_4_2_1 = startup_jobs_4_2_1.loc[startup_jobs_4_2_1['person_uuid'].isin(w)]
len(startup_jobs_4_2_1)

219

In [69]:
startup_jobs_4_2_2 = startup_jobs_4_2.loc[~startup_jobs_4_2['person_uuid'].isin(w)]
#startup_jobs_4_2_2.to_csv('startup_jobs_4_2_2.csv')

In [70]:
q = pd.read_csv('./manually_selected_data/manual4s.csv')
startup_jobs_4_2_2 = startup_jobs_4_2_2[startup_jobs_4_2_2['job_uuid'].isin(q['job_uuid'])]
len(startup_jobs_4_2_2)

17

In [71]:
nonli_startup_jobs = pd.concat([startup_jobs_1, startup_jobs_2, startup_jobs_3_1, startup_jobs_3_2_1, startup_jobs_3_2_2, startup_jobs_4_1, startup_jobs_4_2_1, startup_jobs_4_2_2]).drop_duplicates().reset_index(drop=True)
nonli_startup_jobs

,person_uuid,first_name,last_name,org_uuid,company_name,started_on,ended_on,is_current,title,primary_affiliation_organization,job_uuid
0,ff54a439-e016-240d-1e50-941af24c7d56,Steve,Raymond,75e76c56-3026-404d-079d-be335a63d9ff,Popcap Games,2010-05-25,NaN,1,Director,Popcap Games,ce9982be-310c-8c4a-75b2-e08532b4633d
1,fe85c52f-5671-0594-8749-176c2b9a7de7,Karolyn,Baxter,5d82a211-61c0-c63b-a6a7-5649b6f5a5a8,Tilt,NaN,NaN,1,Founder & CTO,Tilt,b9318cf2-17c1-ddbf-3e58-1fb1b1034785
2,fd83fe62-099e-1496-697a-d532cd8391a0,Stephen,Cumming,ef9427d1-e64d-b6c5-ebf7-233c6c29dc9b,Kenandy,NaN,NaN,1,Chief Financial Officer,Kenandy,248a57e9-e534-cbc8-1b7d-e133dd971148
3,fcb2d06d-98af-b9fd-02da-474d4dfe848e,Clay,Whitson,438c7e89-ba0c-b8cc-7ea6-1a0ac47ae40d,Edo Interactive,2010-10-27,NaN,0,Chief Financial Officer,NaN,ca249533-4533-9b01-3312-3b80e945b2d4
4,fc9d48bb-a85f-f0e1-1d96-22aa1c41a3cd,Paul,Garrett,46c990f6-e14d-3cfe-0bba-a95a6692cfad,InAuth,NaN,NaN,0,CFO,NaN,d3a929b8-cf25-54ba-af66-bb2b5b0b0f0b
...,...,...,...,...,...,...,...,...,...,...,...
1168,2e1a2f2f-90ef-c94b-491a-ed5a3b5ef2cf,Brian,Druker,57ad3281-6baf-c491-cead-4b7f199677ad,Oregon Health & Science University,NaN,NaN,1,JELD-WEN Chairman of the Board of Directors for Leukemia Research,Oregon Health & Science University,93999ae7-45f0-dcfb-f86a-fbf6d7691b57
1169,21344d69-2db1-e881-f738-7da72958b14a,Patrick,Mahaffy,2cc65071-ca68-6795-410f-6f1ff2c30576,Flexion Therapeutics,NaN,NaN,1,Chairman of the Board & Board of Director,NaN,f944f478-e930-650e-36ce-7f6a8745de38
1170,1500e7b3-e648-0a1c-4dae-8a4ebca2abd8,Tim,Morse,829b8a5c-4b6e-207d-9b4c-4483f2e47de6,Ten-X,NaN,NaN,1,Chief Executive Officer and Director,Ten-X,6b21c340-59fe-094e-057e-239cff634991
1171,0433c14c-ab46-5ebd-9552-fe80e334a505,Charles,Cooney,6599f877-7c83-0c47-b05b-dbedd3db7b3a,Massachusetts Institute of Technology - MIT,NaN,NaN,1,MIT Faculty Director of the Consortium on Advanced Manufacturing for Pharmaceuticals,Massachusetts Institute of Technology - MIT,db78cbd0-faa9-d57a-38d1-c32608749d87
1172,00aa8ef1-545c-ca6f-b58b-0d3141e791a8,Yom-Tov,Samia,9121535a-ce52-1e2f-5669-afcabfe7f677,Primus Green Energy,NaN,NaN,1,Chairman of the Board,Primus Green Energy,487e56a3-071b-63fa-5e3c-8505b3d2878f

In [72]:
startup_jobs.groupby(['person_uuid']).size().reset_index(name = 'number_of_people')

                               person_uuid  number_of_people
0     002f79b2-baf6-d512-ef43-4f3dfc020510                 1
1     0069e8ef-54f7-1788-4d6a-0ce75ae2bbfc                 6
2     00aa8ef1-545c-ca6f-b58b-0d3141e791a8                 2
3     0100f446-e3c5-91bc-9213-ec66ece99eb7                 1
4     01165d06-d927-6b47-4518-d21a8c748216                10
...                                    ...               ...
1168  fe9f1ea2-f7c9-c03b-b276-92f30270cdd9                 3
1169  febae8ac-acc0-a478-4593-9e5e1f31ddbb                 7
1170  feded313-e3a8-9f21-7dab-fdb0c00ffc89                 3
1171  ff54a439-e016-240d-1e50-941af24c7d56                 1
1172  ff6a5f52-63b1-0d87-4898-3b0bc4742d25                 4

[1173 rows x 2 columns]

Объединим списки людей из фондов и из стартапов

In [73]:
len(nonli_fund_jobs)

1071

In [74]:
len(nonli_startup_jobs)

1173

In [75]:
nonli_jobs = pd.concat([nonli_startup_jobs, nonli_fund_jobs]).drop_duplicates(subset='person_uuid').reset_index(drop=True)
len(nonli_jobs)

2162

In [76]:
len(broken_fund_jobs)

297

In [77]:
len(bbroken_jobs)

227

In [78]:
broken_jobs = pd.concat([broken_fund_jobs, bbroken_jobs]).drop_duplicates(subset='person_uuid').reset_index(drop=True)
len(broken_jobs)

488

Список уникальных людей с наиболее актуальными местами работы, без ссылок на LI

In [79]:
len(linkedin_fund_jobs)

5319

In [80]:
len(linkedin_startup_jobs)

4054

In [81]:
linkedin_jobs = pd.concat([linkedin_startup_jobs, linkedin_fund_jobs]).drop_duplicates().reset_index(drop=True)
len(linkedin_jobs)

8435

In [82]:
list_of_entrepreneurs = pd.concat([nonli_startup_jobs, linkedin_startup_jobs]).drop_duplicates().reset_index(drop=True)
#list_of_entrepreneurs.to_csv('list_of_entrepreneurs.csv', encoding = 'utf-8-sig')
len(list_of_entrepreneurs)

5227

In [83]:
list_of_investors = pd.concat([nonli_fund_jobs, linkedin_fund_jobs]).drop_duplicates().reset_index(drop=True)
#list_of_investors.to_csv('list_of_investors.csv', encoding = 'utf-8-sig')
len(list_of_investors)

6390

Список уникальных людей со ссылками на LI

In [84]:
linkedin_jobs['first_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
linkedin_jobs['first_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
linkedin_jobs['first_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)
linkedin_jobs['last_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
linkedin_jobs['last_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
linkedin_jobs['last_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)

linkedin_jobs['first_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
linkedin_jobs['first_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
linkedin_jobs['first_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)

linkedin_jobs['first_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
linkedin_jobs['first_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
linkedin_jobs['first_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)

linkedin_jobs['first_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)

linkedin_jobs['first_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)
linkedin_jobs['last_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)

In [85]:
nonli_jobs['started_on'] = pd.to_datetime(nonli_jobs['started_on']).dt.date

nonli_jobs['first_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
nonli_jobs['first_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
nonli_jobs['first_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)
nonli_jobs['last_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
nonli_jobs['last_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
nonli_jobs['last_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)

nonli_jobs['first_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
nonli_jobs['first_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
nonli_jobs['first_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)

nonli_jobs['first_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
nonli_jobs['first_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
nonli_jobs['first_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)

nonli_jobs['first_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)

nonli_jobs['first_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)
nonli_jobs['last_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)

In [86]:
broken_jobs['started_on'] = pd.to_datetime(broken_jobs['started_on']).dt.date

broken_jobs['first_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
broken_jobs['first_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
broken_jobs['first_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)
broken_jobs['last_name'].replace(to_replace=' \w+\.', value = '', inplace = True, regex = True)
broken_jobs['last_name'].replace(to_replace='\w+\. ', value = '', inplace = True, regex = True)
broken_jobs['last_name'].replace(to_replace='\w+\.', value = '', inplace = True, regex = True)

broken_jobs['first_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
broken_jobs['first_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
broken_jobs['first_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace=' "\w+"', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace='"\w+" ', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace='"\w+"', value = '', inplace = True, regex=True)

broken_jobs['first_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
broken_jobs['first_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
broken_jobs['first_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace=' \(\w+\)', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace='\(\w+\) ', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace='\(\w+\)', value = '', inplace = True, regex=True)

broken_jobs['first_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace=' \w$', value = '', inplace = True, regex=True)

broken_jobs['first_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)
broken_jobs['last_name'].replace(to_replace=',\w+', value = '', inplace = True, regex=True)

In [87]:
linkedin_jobs.to_csv('linkedin_jobs.csv', encoding = 'utf-8-sig')
nonli_jobs.to_csv('nonli_jobs.csv', encoding = 'utf-8-sig')
broken_jobs.to_csv('broken_jobs.csv', encoding = 'utf-8-sig')

### Исследование списка инвесторов, занимающих должности в стартапах

Найдем пересечение работников стартапов с людьми, работающими в инвесткомпаниях и таким образом получим список важных людей-инвесторов

In [88]:
startup_and_fund = startup_employee.intersection(fund_employee)
len(startup_and_fund)

1426

В фондах у них следующие должности:

In [89]:
a = jobs.loc[(jobs['org_uuid'].isin(investor_list['investor_uuid'])) & (jobs['person_uuid'].isin(startup_and_fund))]
startuper_job_in_fund = a.groupby(['title']).size().reset_index(name = 'count')
startuper_job_in_fund.sort_values(by = ['count'], ascending = False)

                                         title  count
332                                    Partner    245
214                            General Partner    225
279                          Managing Director    137
519                            Venture Partner    102
474                                Team Member     50
..                                         ...    ...
217                       General Partner & MD      1
213                   General Managing Partner      1
212  General Manager, Amazon Elastic MapReduce      1
211     General Manager of European Nephrology      1
567     vice president of worldwide operations      1

[568 rows x 2 columns]

In [90]:
#startuper_job_in_fund.to_csv('startuper_job_in_fund.csv')

Занимают они следующие должности в стартапах:

In [91]:
investor_job_in_startup = startup_jobs.loc[startup_jobs['person_uuid'].isin(startup_and_fund)]
investor_job_in_startup = investor_job_in_startup.groupby(['title']).size().reset_index(name = 'count')
investor_job_in_startup.sort_values(by = ['count'], ascending = False)

,title,count
189,Member of the Board of Directors,277
27,Board of Directors,152
17,Board Member,87
16,Board Director,41
62,Chairman of the Board of Directors,38
...,...,...
130,"Founder and Former Chairman, President, COO and CEO",1
131,Founder and General Partner,1
132,Founder and President,1
133,Founder and a Managing Director,1
311,vice president of optical strategy and group vice president of optical networking,1

In [92]:
#investor_job_in_startup.to_csv('investor_job_in_startup.csv')

### Дальше пока не нужно

Список ниже построен по следующему принципу: для каждого человека указаны личные данные, primary_affiliation_organization - это организация, указанная в анкете (датасет people), startup_name - один из наших 736 стартапов, title - должность человека в нем.  
Сложность возникает далее - нет гарантий, что люди продолжают работать в инвест-фондах или не меняли его. Именно поэтому поле investor_name размножает записи. Это поле содержит компанию из списка инвесторов, в которой помимо стартапа работал/работает человек, и таких компаний для одного человека может быть несколько. Из-за этого часто будут попадться одинаковые строки, отличающиеся лишь этим полем.

In [93]:
#investor_people_jobs = startup_jobs.loc[startup_jobs['person_uuid'].isin(startup_and_fund)]
#investor_people_jobs = investor_people_jobs.merge(people, how = 'left', left_on = 'person_uuid', right_on = 'uuid')
#investor_people_jobs = investor_people_jobs[['first_name', 'last_name', 'person_uuid', 'org_uuid', 'title', 'primary_affiliation_organization', 'cb_url', 'linkedin_url']]
#investor_people_jobs = investor_people_jobs.merge(organizations[['company_name', 'uuid']], how = 'left', left_on = 'org_uuid', right_on = 'uuid')
#investor_people_jobs.rename(columns = {'org_uuid' : 'startup_uuid', 'company_name': 'startup_name'}, inplace = True)
#a = jobs.loc[jobs['org_uuid'].isin(investor_list['investor_uuid'])]
#a = a.merge(investor_list, how = 'left', left_on = 'org_uuid', right_on = 'investor_uuid')
#investor_people_jobs = investor_people_jobs.merge(a[['investor_name', 'person_uuid']], how = 'left', on = 'person_uuid')
#investor_people_jobs = investor_people_jobs[['first_name', 'last_name', 'person_uuid', 'startup_name', 'startup_uuid', 'title', 'investor_name', 'primary_affiliation_organization', 'cb_url', 'linkedin_url']]
#investor_people_jobs = investor_people_jobs.drop_duplicates().reset_index(drop=True)
#investor_people_jobs.sort_values(by = ['person_uuid'], ascending = False)

Отделять конкретно "корпоративные" должности не стал, это лучше сделать в экселе.

In [94]:
#suspect_TP_FP = startup_jobs[startup_jobs['title'].str.contains(r" Investments|Technology Officer|^Director of Engineering$|^Senior Director of Engineering$|^Snr Director of Engineering$|^Sr. Director of Engineering$|Director of Finance|^Director of Technology$|^Director of Technology & Architect$|\bEIR\b|Chief Technical Officer|Entrepreneur in Residence|EVP of Engineering|EVP of Finance|EVP, Engineering|First Round Investor|^Investor$|^Investors$|seed investor|Venture Investor|^General Manager$|^Head of Technology$|^Head of Engineering$|^Head of Product$|^Director, Engineering$|^Senior Director, Engineering$|^Independent Director$|^MD$|executive Director$|^Engineering Director$|^Senior Engineering Director$|^Principal$|^Finance Director$|^Professor of BA & Senior Assoc. Dean for Strategy & Innovation - Harvard Business School$|^Managing Director$|Insight Venture Partners|^Senior Director Technology Development$|^Senior Director, Finance$|SVP, Technology|SVP - Engineering|^SVP Engineering$|^SVP Engineering and Operations$|SVP of Engineering|SVP Software Engineering|^SVP, Engineering$|\bCEO\b|\bCTO\b|\bCFO\b|\bBOD\b|\bVP\b|Chief Executive|Executive Officer|Chief Technolog|Chief Financ|Chief Experience|Found[^r]|Advisor|Adviser|Observer|Board|Borad of|Bord of|Chair|Chariman|President|^Director$|\bAngel\b|\bPartner\b", case=False)]
#suspect_TP_FP = pd.DataFrame(set(suspect_TP_FP['title'].values))
#suspect_TP_FP.to_csv('suspect_TP_FP.csv')
#len(suspect_TP_FP)

Таких 2649

In [95]:
#suspect_TN_FN = startup_jobs[~startup_jobs['title'].str.contains(r" Investments|Technology Officer|^Director of Engineering$|^Senior Director of Engineering$|^Snr Director of Engineering$|^Sr. Director of Engineering$|Director of Finance|^Director of Technology$|^Director of Technology & Architect$|\bEIR\b|Chief Technical Officer|Entrepreneur in Residence|EVP of Engineering|EVP of Finance|EVP, Engineering|First Round Investor|^Investor$|^Investors$|seed investor|Venture Investor|^General Manager$|^Head of Technology$|^Head of Engineering$|^Head of Product$|^Director, Engineering$|^Senior Director, Engineering$|^Independent Director$|^MD$|executive Director$|^Engineering Director$|^Senior Engineering Director$|^Principal$|^Finance Director$|^Professor of BA & Senior Assoc. Dean for Strategy & Innovation - Harvard Business School$|^Managing Director$|Insight Venture Partners|^Senior Director Technology Development$|^Senior Director, Finance$|SVP, Technology|SVP - Engineering|^SVP Engineering$|^SVP Engineering and Operations$|SVP of Engineering|SVP Software Engineering|^SVP, Engineering$|\bCEO\b|\bCTO\b|\bCFO\b|\bBOD\b|\bVP\b|Chief Executive|Executive Officer|Chief Technolog|Chief Financ|Chief Experience|Found[^r]|Advisor|Adviser|Observer|Board|Borad of|Bord of|Chair|Chariman|President|^Director$|\bAngel\b|\bPartner\b", case=False)]
#suspect_TN_FN = pd.DataFrame(set(suspect_TN_FN['title'].values))
#suspect_TN_FN.to_csv('suspect_TN_FN.csv')
#len(suspect_TN_FN)

Таких 3136

 Investments|
Technology Officer|
^Director of Engineering$|
^Senior Director of Engineering$|
^Snr Director of Engineering$|
^Sr. Director of Engineering$|
Director of Finance|
^Director of Technology$|
^Director of Technology & Architect$|
\bEIR\b|Chief Technical Officer|
Entrepreneur in Residence|
EVP of Engineering|
EVP of Finance|
EVP, Engineering|
First Round Investor|
^Investor$|
^Investors$|
seed investor|
Venture Investor|
^General Manager$|
^Head of Technology$|
^Head of Engineering$|
^Head of Product$|
^Director, Engineering$|
^Senior Director, Engineering$|
^Independent Director$|
^MD$|
executive Director$|
^Engineering Director$|
^Senior Engineering Director$|
^Principal$|
^Finance Director$|
^Professor of BA & Senior Assoc. Dean for Strategy & Innovation - Harvard Business School$|
^Managing Director$|
Insight Venture Partners|
^Senior Director Technology Development$|
^Senior Director, Finance$|
SVP, Technology|
SVP - Engineering|
^SVP Engineering$|
^SVP Engineering and Operations$|
SVP of Engineering|
SVP Software Engineering|
^SVP, Engineering$







\bCEO\b|
\bCTO\b|
\bCFO\b|
\bBOD\b|
\bVP\b|
Chief Executive|
Executive Officer|
Chief Technolog|
Chief Financ|
Chief Experience|
Found[^r]|
Advisor|
Adviser|
Observer|
Board|
Borad of|
Bord of|
Chair|
Chariman|
President|
^Director$|
\bAngel\b|
\bPartner\b

### Cоотношениt employee, executive и остальных

In [96]:
#startup_jobs.groupby(['job_type']).size().reset_index(name = 'count')

In [97]:
#advisor_jobs = filtered_jobs.loc[filtered_jobs['job_type'] == 'advisor']
#advisor_set = set(advisor_jobs['person_uuid'].values)
#print('advisor_set is ', len(advisor_set))
#board_member_jobs = filtered_jobs.loc[filtered_jobs['job_type'] == 'board_member']
#board_member_set = set(board_member_jobs['person_uuid'].values)
#print('board_member_set is ', len(board_member_set))
#board_observer_jobs = filtered_jobs.loc[filtered_jobs['job_type'] == 'board_observer']
#board_observer_set = set(board_observer_jobs['person_uuid'].values)
#print('board_observer_set is ', len(board_observer_set))
#employee_jobs = filtered_jobs.loc[filtered_jobs['job_type'] == 'employee']
#employee_set = set(employee_jobs['person_uuid'].values)
#print('employee_set is ', len(employee_set))
#executive_jobs = filtered_jobs.loc[filtered_jobs['job_type'] == 'executive']
#executive_set = set(executive_jobs['person_uuid'].values)
#print('executive_set is ', len(executive_set))

In [98]:
#def pairwise_intersection(L):
#    for a in L:
#        for b in L[:-1]:
#            if b != a:
#                print(len(a), ' intersects ', len(b), ' on ', len(a.intersection(b)), ' elements')

In [99]:
#L = [advisor_set, board_member_set, board_observer_set, employee_set, executive_set]
#pairwise_intersection(L)

### Исследование компаний

In [100]:
#w = filtered_jobs.groupby(['org_uuid']).size().reset_index(name = 'count')
#w.sort_values(by = ['count'], ascending = False)

Это уникальные айдишники компаний, у которых указан хотя бы один человек (из 740)

In [101]:
#person_list = filtered_jobs.groupby(['person_uuid']).size().reset_index(name = 'count')
#person_list.sort_values(by = ['count'], ascending = False)
#single_list = person_list.loc[person_list['count'] == 1]
#single_set = set(single_list['person_uuid'].values)
#single_jobs = filtered_jobs.loc[filtered_jobs['person_uuid'].isin(single_set)]
#a = single_jobs.groupby(['org_uuid']).size().reset_index(name = 'count')
#a = a.merge(organizations, how = 'left', left_on = 'org_uuid', right_on = 'uuid')
#a = a[['company_name', 'org_uuid', 'count']]
#a.sort_values(by = ['count'], ascending = False).head(30)

Компании и количество сотрудников с единственным местом работы

Это уникальные люди, упоминающиеся в jobs. Выведем их

In [102]:
#filtered_jobs['started_on'] = filtered_jobs['started_on'].replace(np.nan, 0)
#filtered_jobs['started_on'] = pd.to_datetime(filtered_jobs['started_on'])
#new_filtered_jobs = filtered_jobs.loc[filtered_jobs.groupby(['person_uuid'])['started_on'].idxmax()]
#new_filtered_jobs = new_filtered_jobs[['person_uuid', 'org_uuid', 'started_on', 'ended_on', 'is_current', 'title']]
#new_filtered_jobs

In [103]:
#person_list = person_list.merge(people, how = 'left', left_on = 'person_uuid', right_on = 'uuid')
#person_list = person_list[['first_name', 'last_name', 'person_uuid', 'primary_affiliation_organization', 'cb_url', 'twitter_url', 'facebook_url', 'linkedin_url']]
#person_list

In [104]:
#person_list = person_list.merge(new_filtered_jobs, how = 'inner', on = 'person_uuid')
#person_list = person_list[['first_name', 'last_name', 'started_on', 'ended_on', 'is_current', 'title']]
#person_list

In [105]:
#person_list.loc[person_list['is_current'] != 't']

Далее идут анкеты, они не так информативны

In [106]:
#filtered_people = filtered_people.loc[filtered_people['primary_organization_uuid'].isin(company_list['company_uuid'])]
#filtered_people

Посмотрим диаграмму распределения по компаниям:

In [107]:
#company_histogram = filtered_people.groupby(['primary_affiliation_organization']).size().reset_index(name = 'count')
#company_histogram = company_histogram[['primary_affiliation_organization', 'count']]
#company_histogram.sort_values(by = ['count'], ascending = False)

In [108]:
#company_histogram.loc[company_histogram['count'] > 1]

In [109]:
#len(set(filtered_people['primary_affiliation_title'].values))

Уникальных ролей в датасете очень много. Это не четкий словарь, а скорее вольное описание

In [110]:
### Сразу объединим этот датафрейм с описанием у тех, у кого оно есть

#filtered_people_descriptions = people_descriptions.loc[people_descriptions['uuid'].isin(filtered_people['uuid'])]
#filtered_people_descriptions

#filtered_people = filtered_people.merge(filtered_people_descriptions, how = 'left')
#filtered_people

### Теперь объединим с образованием

#filtered_degrees = degrees.loc[degrees['person_uuid'].isin(filtered_people['uuid'])]
#filtered_degrees

#filtered_people = filtered_people.merge(filtered_degrees, how = 'left', left_on = 'uuid', right_on = 'person_uuid')
#filtered_people

#Лефт джойны размножили записи, так как в образовании айдишник не был ключом (у одного человека несколько образований). Но если что. потом можно будет сгруппировать

#filtered_people.to_csv('people.csv')